<!DOCTYPE html>
<html  ng-app="myApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style type="text/css">
  .box {
    position:relative;
  }
  .bet_time {
    position:fixed;
    bottom:10px;
    right:0;
  }
</style>
<body>

<div ng-controller="myCtrl">

  <input type="text" ng-model="country" ><br/>
  <input type="number" ng-model="weight" ><br/>
  <input type="text" ng-model="type"><br/>
  <select ng-model="provider">
    <option>dtdc</option>
    <option>dhl</option>
    <option>dtdcfedex</option>
    <option>dtdcdhl</option>
    <option>dtdceco</option>
  </select>
  <button ng-click="getPricing()">Get</button>

  <br>

  <h1 ng-if="price">Price is {{price}}</h1>
  <h1 ng-if="error">{{error}}</h1>

</div>

<div ng-controller="detailCtrl">

  <input type="text" ng-model="country" ><br/>
  <input type="number" ng-model="weight" ><br/>
  <input type="text" ng-model="type"><br/>

  <button ng-click="getDetailPricing()">Get</button>

  <br>

  <div ng-if="prices.length">
    <table border="1">
      <tr>
        <th>basePrice From Upstream</th>
        <th>basePrice with Profit</th>
        <th>GST</th>
        <th>Fuel Surcharge</th>
        <th>Final Amount</th>
        <th>Upstream</th>
      </tr>
      <tr ng-repeat="price in prices">
        <td>{{price.base_cost_from_upstream}}</td>
        <td>{{price.base_cost}}</td>
        <td>{{price.gst}}</td>
        <td>{{price.fuel_surcharge}}</td>
        <td>{{price.final_cost}}</td>
        <td>{{price.provider}}</td>
      </tr>


    </table>
  </div>
  <h1 ng-if="error">{{error}}</h1>

</div>

<p>todo:
<ul>
  <li>mapping: "Rest of UAE"</li>
</ul>
</p>

<div class="box">
  <p class="bet_time">
  <iframe
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/f9e6b055-4019-4ee8-b712-b7fb4e934cf8">
  </iframe>
  </p>
</div>

<script>
  var app = angular.module('myApp', []);

  app.controller('detailCtrl', function($scope, $http) {
    $scope.country = 'US';
    $scope.weight = 0.5;
    $scope.type= 'doc';

    $scope.getDetailPricing = function(){
      const { country, weight, type } = $scope;
      $http.get('/api/pricing', { params: { country, weight, type, all: true }})
        .then(function({ data: { prices, error }}) {
          if(error)  return $scope.error = error
          $scope.prices = prices;
        });
    }

  });


  app.controller('myCtrl', function($scope, $http) {
    $scope.country = 'USA';
    $scope.weight = 6
    $scope.type= 'nondoc';
    $scope.provider= 'dtdceco';

    $scope.getPricing = function(){
      const { country, weight, type, provider } = $scope;
      $http.get('/api/pricing', { params: { country, weight, type, provider}})
        .then(function({ data: { price, error }}) {
          if(error)  return $scope.error = error
          $scope.price = price;
        });
    }

  });



</script>

</body>
</html>
