.modal-header
  .modal-title
    .h4.text-info View Photos
      .close(ng-click='$ctrl.cancel()') ×
.modal-body
  .row(ng-show='$ctrl.basicPhotoRequest')
    .col-md-12(ng-show='!$ctrl.basicPhoto')
      .col-md-3.photo-left
        i.fa.fa-camera.big-cam.m-t-md
      .col-md-9
        .panel.b-a.ng-scope
          .panel-heading.b-b.b-light
            h4.font-bold.no-margin Basic Photos
              span INR 40
          .panel-body
            p View low-resolution photos taken of your package when it arrived at the Shoppre to confirm package cpntents
            a.btn.btn-success.text-u-c(ng-click='$ctrl.continueBasic()') Get Now
  .row.basic-photo(ng-show='$ctrl.basicPhoto')
    .col-md-12.text-center
      .panel.no-margin(set-ng-animate='false')
        div(style='height: 305px')
          div(uib-carousel='', active='active', interval='myInterval', no-wrap='noWrapSlides')
            div(uib-slide='', ng-repeat='slide in $ctrl.slides', index='$index')
              img.view-slide-height(ng-src='{{$ctrl.URLS.CDN}}/shoppre/{{slide.object}}', style='margin:auto;')
              .carousel-caption
    a.btn.btn-success.text-u-c.m-l-xs(ng-show='$ctrl.advancedPhoto && $ctrl.advanceBasicRequest', ng-click='$ctrl.showAdvancedPhoto()') Advanced Photo
  .row(ng-if='$ctrl.basicPhotoRequestSubmit')
    .panel.b-a.ng-scope
      .panel-body
        .alert.alert-warning
          h4.text-center.no-margin
            i.fa.fa-info-circle.m-r-xs
            | Will be charged INR-50.00 Do you wish to continue?
          .text-center.m-t-md
            a.btn.btn-warning.text-u-c(ng-click='$ctrl.cancel()') Cancel
            a.btn.btn-success.text-u-c.m-l-xs(ng-click='$ctrl.requestBasic()') Continue

  .row(ng-show='$ctrl.advancedPhotoRequest')
    .col-md-12(ng-show='!$ctrl.advancedPhoto')
      .col-md-3.photo-left
        i.fa.fa-camera.big-cam.m-t-md
      .col-md-9
        .panel.b-a.ng-scope
          .panel-heading.b-b.b-light
            h4.font-bold.no-margin Additional Photos
              span INR 500
          .panel-body
            p Order up 10 high-resolution photos of your content to confirm color, condition and item details
            a.btn.btn-success.text-u-c(ng-click='$ctrl.continueAdditional()') Request Now
  .row.advanced-photo(ng-show='$ctrl.advancedPhoto && !$ctrl.basicPhoto')
    .panel.no-margin(set-ng-animate='false')
      div(style='height: 305px')
        div(uib-carousel='', active='active', interval='myInterval', no-wrap='noWrapSlides')
          div(uib-slide='', ng-repeat='slide in $ctrl.slides', index='$index')
            img.view-slide-height(ng-src='{{$ctrl.URLS.CDN}}/shoppre/{{slide.object}}', style='margin:auto;')
            .carousel-caption
    a.btn.btn-success.text-u-c.m-l-xs(ng-show='!$ctrl.basicPhoto && $ctrl.advanceBasicRequest' ng-click='$ctrl.showBasicPhoto()') Basic Photo
  .row(ng-if='$ctrl.advancedPhotoRequestSubmit')
    .panel.b-a.ng-scope
      .panel-body
        .alert.alert-warning
          h4.text-center.no-margin
            i.fa.fa-info-circle.m-r-xs
            | Will be charged INR-500.00 Do you wish to continue?
          .text-center.m-t-md
            a.btn.btn-warning.text-u-c(ng-click='$ctrl.cancel()') Cancel
            a.btn.btn-success.text-u-c.m-l-xs(ng-click='$ctrl.requestAdvanced()') Continue


