$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
//@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/webfonts";
@import '../bower_components/font-awesome/scss/fontawesome';
@import '../bower_components/font-awesome/scss/solid';
@import '../bower_components/font-awesome/scss/brands';
@import '../../../angulr/main';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'directives/click-tocopy/click-to-copy.scss';
@import 'directives/directive-header/directive-header.scss';
@import 'directives/package-filter/package-filter.scss';
@import 'directives/shipment-filter/shipment-filter.scss';
@import 'routes/access/access.scss';
@import 'routes/dashboard/index/hover.scss';
@import 'routes/packages/create/create.scss';
@import 'routes/packages/index/index.scss';
@import 'routes/shipRequests/confirm/confirm.scss';
@import 'routes/shipRequests/transactions/response/transaction.scss';
@import 'routes/transactions/response/response.scss';
@import 'routes/users/documents/documents.scss';
@import 'routes/users/users.scss';
@import '../components/footer/footer.scss';
@import '../components/navbar/navbar.scss';
@import '../components/navigation/naivgation.scss';
// endinjector

// Override: TODO: Seems some differences with bootstrap-sass of hire and this(partner).
.btn-success:hover {
  color: $brand-light;
}
.invisible{visibility: hidden}
.height-21{height:21.5em;}
.wrapper-parcel {
  min-height: 82vh;
}
.btn.icon {
  padding: 5px 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.no-padder-left {
  padding-left: 0;
}

.no-padder-bottom {
  padding-bottom: 0;
}

.loyalty-image{max-width:45%}
.user-category span,.howto-earn h3,.pointsto-cash h3,.howto-earn a{
  color:#fe9611
}

.navi ul.nav li {
  width: 210px;
}

.loyalty-points{
  height: 180px;
  border: solid 10px #e6e6e6;
  border-radius: 120px;
  display: table;
}
.loyalty-points h2{
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}
.loyalty-types{
  height: 180px;
  border: solid 10px #f9d6d6;
  border-radius: 120px;
  padding-top: 15px;
  background: rgb(248, 115, 115);
  color:#fff
}
.loyalty-types h4{
  font-weight: bold;

}

.pointer {
  cursor: pointer;
}

.streach-text {
  -webkit-transform: scale(2, 1.2); /* Safari and Chrome */
  -moz-transform: scale(2, 1.2); /* Firefox */
  -ms-transform: scale(2, 1.2); /* IE 9 */
  -o-transform: scale(2, 1.2); /* Opera */
  transform: scale(2, 1.2); /* W3C */
}

.icon-gray {
  color: #9B9B9B;
  padding-left: 7px;
  padding-right: 7px;
}
.full-width{width:100%;float:left}
.left-margin-15{margin-left:15px}
.lockerUl{background-color:#faf1d582}
.font-15{font-size:15px}
.lockerUl li.active {background-color:#f0ce6c!important}
.lockerUl li.active > a{border-bottom-color:#f0ce6c!important}
.nav-tabs-alt .nav-tabs.lockerUl > li> a{border-bottom-color:transparent!important}
.nav-tabs-alt .nav-tabs.lockerUl > li.active > a{border-bottom-color:#f0ce6c!important}
.flex {
  display: flex;
}
.text-left{text-align:left}
.position-relative{position:relative}
.big-cam{font-size:7em}
.locker-up{
  position: absolute;
  right: -10px;
  top: -10px;
}
.text-left{text-align:left}
.position-relative{position:relative}

.locker-up{
  position: absolute;
  right: -10px;
  top: -10px;
}
.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.sidebarSpecial{
  padding-top:10px;
  padding-bottom:10px;
  background:#f2d88d;
  border-radius: 10px;
}
.white-border
{
  border-right: solid 3px #fff;
}

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-box .flex-heading {
  flex: 0 1 auto;
}

.flex-box .flex-content {
  flex: 1 1 auto;
  overflow: auto;
  height: 0;
  padding-left: 5px;
}

.flex-box .flex-footer {
  flex: 0 1 40px;
}

.badge-bracket {
  font-size: 12px;
}

.badge-bracket:empty {
  display: none;
}

.badge-bracket:before {
  content: "(";
}

.badge-bracket:after {
  content: ")";
}

.no-drop {
  cursor: no-drop;
  cursor: not-allowed !important;
}

.top-margin-10 {
  margin-top: 10px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.right-padding-20 {
  padding-right: 20px;
}

.left-margin-20 {
  margin-left: 20px;
}

.left-margin-5 {
  margin-left: 5px;
}

.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.left-pad-0{
  padding-left:0px
}
.right-pad-0{
  padding-right:0px
}

.right-padding-5 {
  padding-right: 5px;
}

.left-padding-5 {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .fix-truncate {
    width: 330px;
  }

  .fix-min-width {
    min-width: 420px;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-padding-5 {
  padding-top: 5px;
}

.left-padding-15 {
  padding-left: 15px;
}

.hover-scroll-y {
  overflow-y: hidden;
}

.hover-scroll-y:hover {
  overflow-y: auto;
}

//.hbox {
//  max-width: 1380px;
//  margin: auto;
//}

.card-applicant {
  box-shadow: 1px 1px 10px;
}

.table-jobs > tbody > tr > td,
.table-jobs > tfoot > tr > td {
  padding: 2px 2px;
}

@media (max-width: 992px) {
  .col-divider > div {
    border-left: 2px solid transparent;
  }
}

.no-banner-announcement {
  .banner {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .app-header {
    position: fixed;
    top: 26px;
  }
  .navbar-header {
    position: inherit !important;
  }
  .app-aside {
    position: fixed !important;
    top: 76px !important;
  }
  .app-content {
    position: fixed !important;
    top: 141px !important;
  }
  .bg-black {
    top: 0 !important;
    bottom: 0 !important;
  }
  .fixed-applicant-details, .fixed-resume, .nav-comment {
    top: 141px !important;
  }
}

.p-t-xs {
  padding-top: 5px;
}

.p-b-xs {
  padding-bottom: 5px;
}

.p-b-md {
  padding-bottom: 10px;
}

.p-l-xs {
  padding-left: 5px;
}

.p-r-xs {
  padding-right: 5px;
}

.p-xs {
  padding: 5px;
}

.p-t-md {
  padding-top: 10px;
}
.p-t-lg {
  padding-top: 15px;
}

.p-b-md {
  padding-bottom: 10px;
}

.p-l-md {
  padding-left: 10px;
}

.p-r-md {
  padding-right: 10px;
}

.p-md {
  padding: 10px;
}

.border {
  border: 1px solid #CFDADD;
  border-radius: 5px;
}

.b-skill {
  background-color: #708090;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.8;
  color: white;
}

.b-skill-active {
  background-color: #F3EB3A;
  color: black;
}

strong.highlight {
  color: black;
  font-weight: 500;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 5px;
    background-color: #F3EB3A;
}

.multiCheckDropDown {
  .show {
    width: 95%;
  }
  .multiSelect {
    width: 100%;
    button {
      min-height: 30px !important;
      width: 100%;
      text-align: left;
    }
    button.clearButton {
      min-height: 22px !important;
    }
    .checkBoxContainer {
      max-height: 150px;
      overflow-y: auto;
    }
  }
  .line {
    button {
      width: initial;
    }
    height: auto !important;
  }
  .caret {
    position: absolute;
    right: 10px;
    margin-top: 10px !important;
  }
  .reset {
    visibility: hidden;
  }
}

.inputRange {
  padding: 2px 10px;
  width: 80px;
}

li.dndPlaceholder {
  list-style: none;
}

.btn-s {
  height: initial;
  padding: 1px 5px !important;
}

.text-blue {
  font-weight: 600;
  color: #5188C6 !important;
}

.text-blue:hover {
  color: #5188C6 !important;
}

.bg-blue {
  background-color: #5188C6 !important;
}

.bg-sea-green {
  background-color: #00B387;
  color: white;
}

.color-sea-green {
  color: #00B387;
}

.bg-sea-dark-green {
  background-color: #00BB8D;
  color: white;
}

.b-gray {
  border-color: #989898;
}

.b-body {
  background-color: #EDF1F2 !important;
}

.text-gray {
  color: #989898;
}

.border-gray {
  border: 1px solid #989898;
}

.m-t-xs-md {
  margin-top: 10px;
}

.text-heading {
  color: #313133;
  font-weight: 500;
}

.custom-icon-gray {
  color: #96989A;
  border-color: #96989A;
}

.custom-icon-gray:hover {
  color: #00B387;
  border-color: #00B387;
}

.text-skill-heading {
  color: #373435;
}

.color-sea-green {
  color: #00B387;
}

.bg-sea-dark-green {
  background-color: #00BB8D;
  color: white;
}

.b-gray {
  border-color: #989898;
}

.b-body {
  background-color: #EDF1F2 !important;
}

.text-gray {
  color: #989898;
}

.border-gray {
  border: 1px solid #989898;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  80% { opacity: 0.8; }
}
.btn-new-badge {
  background-color: #da3510;
  font-style: initial !important;
  position: absolute;
  left: -13px;
  top: -4px;
  font-size: 8px;
  font-weight: initial;
}
.m-l-xs-md {
  margin-left: 10px;
}

.m-r-xs-md {
  margin-right: 10px !important;
}

.m-b-xs-md {
  margin-bottom: 10px;
}

.m-xs-md {
  margin: 10px;
}

.text-heading {
  color: #313133;
  font-weight: 500;
}

.custom-icon-gray {
  color: #96989A;
  border-color: #96989A;
}

.custom-icon-gray:hover {
  color: #00B387;
  border-color: #00B387;
}

.text-skill-heading {
  color: #58666e;
}

.text-skill-description {
  color: #373435;
}

.b-hover-sea-green {
  color: #989898;
  background-color: white;
  border: 1px solid #989898;
}

.b-hover-sea-green:hover {
  color: #00B387;
  background-color: white !important;
  border: 1px solid #00B387;
}

.b-sea-green {
  color: #00B387;
  border: 1px solid #00B387;
}

.btn-sea-green {
  color: white;
  background-color: #00B387;
}

.btn-sea-green:hover {
  background-color: #069974;
  color: white;
}

.i-checks-sea-green input:checked + i:before {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #00B387 !important;
}

.modal-backdrop {
  background-color: white;
}

.modal-backdrop.in {
  opacity: 0.95 !important;
  filter: alpha(opacity=80);
}

.b-a {
  border-width: 1px;
}

.table-cell {
  display: table-cell;
}

.right-dropdown-menu {
  right: 0;
  left: initial;
  min-width: 160px;
}

.anchor-search:hover {
  color: #00B387;
}

.anchor-selected {
  color: #00B387;
}

.dash-sidecost {
  position: relative;
  background: #fff;
  padding: 15px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin-bottom: 15px;
}

.div-list {
  margin-left: 20px;
}
.btn-add-address {
  margin-top: -55px;
  margin-right: 10px;
}
.summary-order {
  font-size: 16px;
  color: #ff6c00;
  font-weight: 600;
}
.table-footer {
  background: #f5eeee;
}
.div-border-create {
  border: 2px solid #bce8f1;
  margin-bottom: 20px;
  clear:both
}
.txt-kg{
  margin-top: 11px;
}
.chkbox_background {
  background: #eaeaea;
  padding: 5px;
}
.final-ship-charge {
  background: #eaeaea;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.invalid-promo {
  color: #f05050 !important;
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 6px;
}
.valid-promo {
  color: green !important;
  border: 1px solid green;
  padding: 5px;
  margin-bottom: 6px;
}
.promo-success {
  color: green !important;
  border: 1px solid green;
  padding: 5px;
  margin-bottom: 6px;
}
.longblock {
  position: relative;
  background: #fff;
  margin: 0 0 15px;
  padding: 15px 25px;
}
.splitbox {
  border: 1px solid #eee;
  padding: 25px;
  min-height: 225px;
  margin: 25px 0;
}
.carousal-h3{
  background: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
}
.package-submit-ul li a:hover{
  color:#27c24c!important
}
.salution-danger{
  position: absolute;
  top: -17px;
  left: 10px;
}
.no-border{
  border:none!important;
}
.invoice-background{
  background-color: white;
}
.invoice-box {
  max-width: 1280px;
  margin: auto;
  padding: 30px;
  border: 2px solid #eee;
  font-size: 16px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
  font-size: 14px;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading th {
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  text-align: left;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  text-align: left;
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td {
  border-top: 2px solid #eee;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}
.invoice-from-width{
  width:25%;
}
.invoice-packid-width{
  width:15%;
}
.invoice-total-width {
  width: 35%;
}
.ship-packages {
  margin-top: 20px;
}

.subpaybtn {
  display: block;
  border: 1px solid #cadc88;
  padding: 12px;
  font-size: 13px;
  font-weight: 700;
  color: #424242;
  border-radius: 5px;
  margin: 15px 0;
  text-transform: uppercase;
}

.order-top-left{
  //width: 49%;
  display: inline-block;
  vertical-align: top;
}
.order-top-left h3{
  font-size: 20px;
  color: #5f5f5f;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.btn-blue{
  background: #20c5d4;
  color: #fff;
}

.no-padding-right{
  padding-left: 0px !important;
}

.no-margin-left{
  margin-left: 0px !important;
}

.txt-underline{
  text-decoration: underline;
}

.iti-flag {background-image: url("/assets/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {background-image: url("/assets/flags@2x.png");}
}

.bucket-color{
  background-color:  #f9f2d4 !important;
}

//signup
.body{
  font-family: Montserrat;
}

.header1{
  font-size: 34px;
  font-weight: 600;
}

.header2{
  font-size: 22px;
  font-weight: 600;
}

.header3{
  font-size: 18px;
  font-weight: 600;
}

.header4{
  font-size: 16px;
  font-weight: 600;
}

.header5{
  font-size: 14px;
  font-weight: 600;
}

.header6{
  font-size: 12px;
  font-weight: 600;
}

.p-color-cement-dark{
  color: #11273b;
}
.p-color-red{
  color: #e85151 ;
}
.p-color-cement{
  color: #677582;
}
.p-color-white{
  color: #ffffff;
}

.div-container{
  width: 1200px;
  height: 768px;
  background-image: linear-gradient(180deg, #11273b 0%, #11273b 100%);
}

.div-sign-up-left{
  background-color: #fafafb;
}
.div-sign-up-left,
.div-sign-up-right{
  width: 567px;
  height: 660px;
}

.div-sign-up-right{
  background-color: #ffffff;
}

.p-h1-margin{
  margin-top: 79px;
}

.btn-login-fb{
  background-color: #507dbc;
  margin-top: 10px;
}
.btn-login-g{
  background-color: #e85151;
}
.btn-login-fb,
.btn-login-g{
  width: 260px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgba(146, 156, 165, 0.2);

}

.row-divider{
  margin-top: 20px;
  width: 260px;
  height: 1px;
  border: 1px solid rgba(146, 156, 165, 0.3);
}


.div-login-margin{
  margin-left: 20px;
}

.text-box-email{
  background-color: #ffffff;
  /*color: #11273b;*/
}
.text-box-password{
  background-color: #fafafb;
  color: #11273b;
  margin-top: 20px;
}

.text-box-email,
.text-box-password{
  width: 260px;
  height: 40px;
  border: 1px solid rgba(146, 156, 165, 0.2);

}


.btn-register{
  margin-top: 20px;
  width: 160px;
  height: 40px;
  border-radius: 60px;
  background-color: #e85151;
}


.div-border-right{
  width: 440px;
  height: 440px;
  border: 3px solid #e85151;
  background-color: #ffffff;
  margin-top: 165px;
}

.p-header-grab{
  font-size: 28px;
  line-height: 10px;
}

.join-border{
  width: 235px;
  height: 53px;
  background-color: #ffffff;
  /*background-color: red;*/
  margin: -28px 0 0 0px;

}

.img-offer{
  width: 300px;
  height: 318px;
  border: 1px solid #ffffff;
  margin-top: 28px;
}
//signup

.search-box {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 40px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px 32px 6px 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-top: 7px;
  margin-left: 1px;
}
.nav-serach-icon {
  position: absolute;
  margin-left: 12px;
  margin-top: 18px;
}

.search-box input {
  transition: width -4.6s ease-in-out;
}

.charges-summary {
  line-height: 1.8em;
}

.table-inner {
  background-color: antiquewhite !important;
}

.line-spacing {
  line-height: 1.5em;
}

.address-popover {
  div[uib-popover-template-popup] {
    min-width: 700px;
  }
}


.bg-primary {
  .nav > {
    li {
    > a {
        color: #fff !important;
      }
    }
  }
  > a {
    color: #fff !important;
    &:hover {
      color: #507dbc;
    }
  }

}


.no-margin-top{
  margin-top:0px;
}

.ship-create-sidebar {
  padding: 10px 15px;
}
