h5.text-black.text-center.text-u-l Terms & Conditions For Personal Shopper
ol.text-black.m-l-n-lg
  p
    span.font-bold 1.&nbsp;
    span The entire payment, which includes the cost of the order + the Personal Shopper service cost, needs to be cleared BEFORE Shoppre makes the purchase for you.
    span The Personal Shopper service cost is non-refundable for a successfully placed order, irrespective of whether the order is edited/cancelled at a later stage.
    span However, the rest of the amount shall be credited to Shoppre wallet within 24 hours in such a case.

  p
    span.font-bold 2.&nbsp;
    span We accept payment through netbanking/credit card/Paypal/Paytm/wire transfer.

  p
    span.font-bold 3.&nbsp;
    span All Personal Shopper orders will be delivered to your Shoppre shipping address.

  p
    span.font-bold 4.&nbsp;
    span The Personal Shopper order can be edited or cancelled before you make the payment to Shoppre. You can also cancel your order post the payment, provided we haven’t already made the purchase on your behalf.
    span The money will be credited to your Shoppre wallet within 24 hours, which can then be used for your future Shoppre orders.

  p
    span.font-bold 5.&nbsp;
    span To edit or cancel your order pre-payment, click on Personal Shopper > Order Form.

  p
    span.font-bold 6.&nbsp;
    span To cancel your order post-payment, access your Order History to view the list of your recent orders. If we haven’t processed the purchase on your behalf, the option to Cancel will be available

  p
    span.font-bold 7.&nbsp;
    span In case you want to cancel the order after Shoppre has made the purchase, please get in touch with the seller regarding its return policy.
    span If the return is permitted by the seller, intimate us that the order is to be returned when it arrives at your Shoppre address.
    span In such a case, a cost of Rs. 400, in addition to the return shipping cost (if any) needs to be incurred by the customer.
    span Once the seller receives the order and issues a refund, the same shall be duly credited to your Shoppre wallet and can be used for your future orders

  p
    span.font-bold 8.&nbsp;
    span An e-mail notification shall be sent out to you once your order reaches your Shoppre address. You can also request for any additional photographs of the package for an additional cost.

  p
    span.font-bold 9.&nbsp;
    span Shoppre reserves the right to make any additions/changes in these terms and conditions at any given point of time. Keep checking this page for updates.
