<tr>
  <td colspan="2" style="padding:0 20px;width:640px">
    <table cellspacing="0" style="border-top:3px solid #2d3741;width:640px" cellpadding="0">
      <tbody>
      <tr>
        <td valign="top" style="font:14px Arial,san-serif;padding:11px 0 14px 18px;width:280px;background-color:#efefef">
          <a href="{{ENV.URLS_MEMBER}}/packages/{{pkg.id}}" target="_blank" >
            <img src="https://ci3.googleusercontent.com/proxy/DnwJ60uctkvDNpe9R-bEflUctIUxRMcrTKsWFudH2XSBhSnOpF7JEc22rWw5hUuZGPdDqwGe6Mx1OMHoZHdtZeItaq8qyiF9LxxPA655R3hx_6F_CgNRXF_gJ2V4W5ik9eZkeGQ3hoN8=s0-d-e1-ft#https://images-na.ssl-images-amazon.com/images/G/01/x-locale/cs/te/button-track.png"> </a>
        </td>
        <td
          valign="top"
          style="font:14px Arial,san-serif;padding:11px 0 14px 18px;width:280px;background-color:#efefef"
        >
          <p style="margin:2px 0;color: #363636;">
            {{customer.name}}
            <br>
            <strong>{{customer.virtual_address_code}} </strong>, #181, 1st Floor,
            <br> 2nd Cross Rd, 1st Block Koramangala <br>
            <u></u>
            BENGALURU, KARNATAKA 560034
            <u></u> <br> India - +91 80 4094 4077 </p></td>
      </tr>
      </tbody>
    </table> </td>
</tr>
