#JobView {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

  .q-jd-alert {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background: #ffe4e4;
    color: #222;
    padding:10px 5px !important;
    font-family: arial,sans-serif;
  }
}
