.QRibbon-badge {
  height: 40px;
  background: #58C777;
  width: 200px;
  font-size: 20px;
  line-height: 40px;
  font-family: sans-serif;
  color: #FFF;
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
  left: -70px;
  box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.34);
  padding-left: 65px;
}

.QRex-margin {

  margin-left: 30px;

}
.save {
  margin: 9px;
}

.ship-prefer{
  font-size: 18px;
}
