.modal-header
  .modal-title
    .h4.text-info {{DownloadResume.offer.name}}
      span.font-bold.m-l-xs {{DownloadResume.offer.price}}
      .close(ng-click='DownloadResume.cancel()') ×
.modal-body
    p {{DownloadResume.offer.innerDescription}}
    textarea.form-control(rows=4)
    .checkbox
      label.i-checks
        input(type='checkbox', value='')
        i
        | I understand that I will have to pay a fee of INR 400 for the return, which will appear in my Shoppre Wallet.
.modal-footer
  a.btn.btn-warning.text-u-c(ng-click='DownloadResume.cancel()') Cancel Request
  a.btn.btn-success.text-u-c(ng-click='') Submit Request
