iframe(border='0' src='{{$ctrl.ui.site}}' style='width: 100%;height: 100%;')
a.btn.btn-primary.btn-xs(ng-click='$ctrl.$uibModalInstance.dismiss(false)' style='position: absolute;top: -25px;left: 10px;')
  i.fa.fa-arrow-left.m-r-xs
  span Back
