.idea
.env
node_modules
/public/bower_components/
/credentials.json
.mocharc
logs/*
!logs/.gitkeep
logs
/public/fonts/
/public/js
.nyc_output
/coverage/
/ops/.jscsrc
/ops/.jshintignore
accounts/.git
bower_components
/public/app/js/
/public/app/
/.jshintignore
/.jshintrc
/.idea/*
