.navbar-collapse {
  margin-left: 240px !important;
}

.hv, .no-hv {
  font-weight:400 !important;
  font-size: 13px !important;
  letter-spacing: 0.06em;
}

.nav {
  > li {
    > a.hv, a.no-hv, a.short-hv {
      &:hover {
        position: relative;
        color: #fff;
        text-decoration: none;
        background: transparent !important;
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .nav {
    > li {
      >a.hv:before {
        content: "";
        position: absolute;
        width: 70%;
        height: 1px;
        bottom: 12px;
        left: 16px;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
      >a.short-hv:before, a.short-hv:hover:before {
        content: "";
        position: absolute;
        width: 55%;
        height: 1px;
        bottom: 12px;
        left: 16px;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }

  .nav {
    > li {
      > a.hv, a.short-hv {
        &:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }

  .nav {
    > li.active {
      > a:before {
        visibility: visible;
        transform: scaleX(1);
        font-weight: 700;
      }
    }
  }
} //media query

.nav {
  > li {
    > a.hv
    &:hover
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.nav {
  >li {
    >a.hv, a.no-hv, a.short-hv {
      &:focus {
        background: transparent;
        color: #fff;
      }
    }
  }
}

.aside-wrap {
  > li {
    > .active {
      background: transparent;
      color: #fff;
    }
  }
}
.navbar-brand {
  img {
    margin: 0 0 0 4px;
    min-height: 45px;
    width: 84px;
  }
}

.navbar{
  background-image: url('#{s3BaseUrl}img/top-bar.jpg') !important;
  margin-bottom: 0;
  a{
    color: #fff !important;
  }
  li{
    a{
      &:hover, &:active, &:focus{
        background: #313236;
      }
    }
  }
}
.navbar-brand {
  width: 240px;
  //background: $brand-black;
}

.search::-webkit-input-placeholder {
  color: #90adf5;
}

.nav{
  >li.active {
    > a:before {
      visibility: visible;
      transform: scaleX(1);
      font-weight: 700;
    }
  }
}

.bg-info .nav{
  >li.active{
    >a {
      background: transparent !important;
    }
  }
}

.nav {
  > li {
    .btn{
      &:hover,
      &:focus{
        color: #fff;
      }
    }
  }
}

.navi {
  >ul {
    >li {
      >a {
        span {
          font-size: 13px !important;
        }
      }
    }
  }
}

.search {
  width: 0 !important;
  border-bottom: 0  !important;
  transition: width 0.3s, border-bottom 0.3s !important;
}

.search-animate {
  width: 150px !important;
  border-bottom: 1px solid #fff !important;
  transition: width 0.3s, border-bottom 0.3s !important;
}
