include profile-popover.pug
.app-header.navbar
  .navbar-header(class='{{App.app.settings.navbarHeaderColor}}')
    button.pull-right.visible-xs.dk(ng-click='App.app.settings.mobileHeader = !App.app.settings.mobileHeader')
      i.fa.fa-cog
    .inline(style='position: absolute;top: 13px;left: 30px;')
      img(src='/assets/images/logo.png' width="20px")
    a.w-md.navbar-brand(ui-sref='dashboard')
      span Shoppre
  //- navbar collapse
  .collapse.pos-rlt.navbar-collapse.box-shadow(
    class='{{App.app.settings.navbarCollapseColor}}'
    ng-class="{\
        'show': App.app.settings.mobileHeader,\
      }"
  )
    //- buttons
    .nav.navbar-nav.hidden-xs.hide
      a.btn.no-shadow.navbar-btn(href='', ng-click='App.app.settings.asideFolded = !App.app.settings.asideFolded')
        i.fa.fa-fw(class="{{App.app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}}")
      a.btn.no-shadow.navbar-btn(href='', ui-toggle-class='show', target='#aside-user')
        i.icon-user.fa-fw

    aside
      ul.nav.navbar-nav.navbar-right
        li(ui-sref-active='active')
          a(ui-sref='sign-in') Sign In
