script(type='text/ng-template' id='navbar-profile-template.html')
  .wrapper-xs.bg-white-only
    .hbox
      .col(style='width: 80px')
        div.b-a.bg-light.text-center.m-l-md.m-t.b-info(
          style='border-radius: 50%;width:40px;height: 40px;'
          ng-click='$ctrl.isOpenProfPop = !$ctrl.isOpenProfPop;'
        )
          span.m-t-lg.font-lg.text-u-c(
            style='color: #5585B9;font-size: 26px;'
            ng-bind='$ctrl.user.firstName.trim().substr(0, 1)'
          )
      .col(style='width: 138px')
        .w-full.text-ellipsis.m-t-xs.text-black(ng-bind='$ctrl.user.firstName' uib-tooltip='{{$ctrl.user.firstName}}'  tooltip-append-to-body="true" tooltip-placement='auto'  ng-click="$ctrl.isOpenProfPop =!$ctrl.isOpenProfPop;")
        .w-full.text-ellipsis.m-t-xs.text-black(ng-bind='$ctrl.user.emailId;' uib-tooltip='{{$ctrl.user.emailId}}'  tooltip-append-to-body="true" tooltip-placement='auto' ng-click='$ctrl.isOpenProfPop =!$ctrl.isOpenProfPop;')
      .w-full
    .hbox.m-t-sm
      .col.w-full: span.btn.btn-sm.w-full(style='color: #333;border: 1px solid #888;' ng-click='$ctrl.logOut();$ctrl.isOpenProfPop =!$ctrl.isOpenProfPop;') Logout
