div.m-t-xl.no-margin
  .wrapper-md.bg-light.h-full
    div
      .h1.m-l-md.font-thin.h3.m-b-md
        | Membership Plans
    .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
    .wrapper-md.ng-scope
      .row.row-sm
        .col-lg-4.col-md-5.col-sm-6.no-padder
          .panel.b-a
            .panel-heading.wrapper-xs.bg-success.no-border
            .wrapper.text-center
              h3.text-u-c.m-b-none Pricing
            ul.list-group
              li.list-group-item
                i.icon-check.text-success.m-r-xs
                |  Receive your own shipping address & Personal Locker
              li.list-group-item
                i.icon-check.text-success.m-r-xs
                |  Receive Parcels
              li.list-group-item
                i.icon-check.text-success.m-r-xs
                |  Shoppre Shipping Discount
              li.list-group-item
                i.icon-check.text-success.m-r-xs
                |  Service  Tax in India
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Package Consolidation
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Package Repackaging
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Package Storage
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Package Photo Service
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Document Scan
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Receive Mails
              li.list-group-item.height-21
                i.icon-close.text-danger.m-r-xs
                | Special Clearance
              li.list-group-item.height-21
                i.icon-close.text-danger.m-r-xs
                | Pickup Charges (from any part of India)
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Realtime shipment tracking
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Personal Shopper Service
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Additional address
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Shoppre Shipment Guarantee
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Package Return Service
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Monthly Fee
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Annual Fee
              li.list-group-item
                i.icon-close.text-danger.m-r-xs
                | Onetime Setup Fee
            .panel-footer.text-center
              a.btn.btn-success.font-bold.m.invisible(href='') Start your free trial
        .col-lg-2.col-md-3.col-sm-6.no-padder
          .panel.b-a
            .panel-heading.wrapper-xs.bg-success.no-border
            .wrapper.text-center
              h3.text-u-c.m-b-none Free Plan
            ul.list-group
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                |  Country Discount
              li.list-group-item
                i.icon-check.text-success.m-r-xs
                | No extra tax
              li.list-group-item
                | INR 100 per Package
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                | Free upto 20 days
              li.list-group-item
                | INR 50 per photo
              li.list-group-item
                | INR 40 per page
              li.list-group-item
                | INR 100 per document
              li.list-group-item
                .panel.panel-default
                  .panel-heading
                    | Speical clearance
                  table.table.table-striped.m-b-none
                    thead
                      tr
                        th KG
                        th INR
                    tbody
                      tr
                        td
                          span 0-5 KG
                            .progress-bar.bg-success(data-toggle='tooltip', data-original-title='80%', style='width: 80%')
                        td 1150
                      tr
                        td
                          span 5-10 KG
                            .progress-bar.bg-info(data-toggle='tooltip', data-original-title='40%', style='width: 40%')
                        td 1650
                      tr
                        td
                          span 10-15 KG
                            .progress-bar.bg-warning(data-toggle='tooltip', data-original-title='20%', style='width: 20%')
                        td 2750
                      tr
                        td
                          span Above 15 KG
                            .progress-bar.bg-danger(data-toggle='tooltip', data-original-title='15%', style='width: 15%')
                        td 3150
              li.list-group-item.height-21
                .panel.panel-default
                  .panel-heading
                    | Pickup Charges
                  table.table.table-striped.m-b-none
                    thead
                      tr
                        th KG
                        th INR
                    tbody
                      tr
                        td
                          span 40 KG (In Bangalore)
                            .progress-bar.bg-success(data-toggle='tooltip', data-original-title='80%', style='width: 80%')
                        td 100 Per Min
                      tr
                        td
                          span 50 KG (Outside Bangalore)
                            .progress-bar.bg-info(data-toggle='tooltip', data-original-title='40%', style='width: 40%')
                        td 200 per Min
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                | Upto 5 addresses
              li.list-group-item
                | INR 30 (covers upto INR 6000)
              li.list-group-item
                | INR 400
              li.list-group-item
                | INR 0
              li.list-group-item
                | INR 0
              li.list-group-item
                | INR 0
            .panel-footer.text-center
              a.btn.btn-info.font-bold.m.text-u-c(href='') Current Plan
        .col-lg-2.col-md-3.col-sm-6.no-padder-right
          .panel.b-a
            .panel-heading.text-center.bg-warning.no-border
              span.text-u-c.m-b-none.font-bold Premium
                h3.text-u-c.m-b-none Membership
            ul.list-group
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                | + 5% Discount
              li.list-group-item
                i.icon-check.text-success.m-r-xs
                | No extra tax
              li.list-group-item
                | FREE
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                | Free upto 30 days
              li.list-group-item
                | INR 10 per photo
              li.list-group-item
                | INR 30 per page
              li.list-group-item
                | INR 30 per document
              li.list-group-item
                .panel.panel-default
                  .panel-heading
                    | Speical clearance
                  table.table.table-striped.m-b-none
                    thead
                      tr
                        th KG
                        th INR
                    tbody
                      tr
                        td
                          span 0-5 KG
                            .progress-bar.bg-success(data-toggle='tooltip', data-original-title='80%', style='width: 80%')
                        td 1000
                      tr
                        td
                          span 5-10 KG
                            .progress-bar.bg-info(data-toggle='tooltip', data-original-title='40%', style='width: 40%')
                        td 1500
                      tr
                        td
                          span 10-15 KG
                            .progress-bar.bg-warning(data-toggle='tooltip', data-original-title='20%', style='width: 20%')
                        td 2500
                      tr
                        td
                          span Above 15 KG
                            .progress-bar.bg-danger(data-toggle='tooltip', data-original-title='15%', style='width: 15%')
                        td 3000
              li.list-group-item
                .panel.panel-default
                  .panel-heading
                    | Pickup Charges
                  table.table.table-striped.m-b-none
                    thead
                      tr
                        th KG
                        th INR
                    tbody
                      tr
                        td
                          span 0-5 KG
                            .progress-bar.bg-success(data-toggle='tooltip', data-original-title='80%', style='width: 80%')
                        td 100
                      tr
                        td
                          span 5-10 KG
                            .progress-bar.bg-info(data-toggle='tooltip', data-original-title='40%', style='width: 40%')
                        td 300
                      tr
                        td
                          span 10-40 KG
                            .progress-bar.bg-warning(data-toggle='tooltip', data-original-title='20%', style='width: 20%')
                        td 500
                      tr
                        td
                          span Above 40 KG
                            .progress-bar.bg-danger(data-toggle='tooltip', data-original-title='15%', style='width: 15%')
                        td 1000
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                i.fa.fa-check.text-success
              li.list-group-item
                | Unlimited
              li.list-group-item
                | INR 30 (covers upto INR 6000)
              li.list-group-item
                | INR 50
              li.list-group-item
                | INR 599
              li.list-group-item
                | INR 5750 (20% OFF)
              li.list-group-item
                | INR 0
            .panel-footer.text-center
              a.btn.btn-success.font-bold.m.text-u-c(href='') Select Plan






