.shoppre-nav-pills > li {
  width: 155px;
  text-align: center;
  border-right: 1px solid $brand-info;
}

.shoppre-nav-pills > li.xs {
  width: 62px;
  text-align: center;
  border-right: 1px solid $brand-info;
}

.item-v-align{
  vertical-align: middle !important;
}
