.modal-header
  .modal-title
    .h4.text-info.font-bold ADD YOUR NOTE
      .close(ng-click='$ctrl.cancel()') ×
.modal-body
  p This is for your personal use only, Shoppre will not review this area.
  textarea.form-control(rows=4, ng-model="$ctrl.data.notes")

.modal-footer
  a.btn.btn-success.text-u-c(ng-click='$ctrl.saveNote()') Save your Note
