div
  .hbox(style="position:relative")

    // - Primary Header
    .bg-white-only.w-full.b-b(style='position: fixed;z-index: 6;height: 40px;')
      .pull-left.wrapper-sm.no-padder-top
        span.h4
          i.fas.fa-key.m-r
          | Change Password



    // - Content Area
    .bg-light(style='min-height: 200px;')
      .m-t-xl(style='height: 1px;')
      .hbox
        .wrapper-md.bg-white-only.wrapper-parcel
          .col-md-12
            form.form.form-validation.form-horizontal(
              name="changePasswordForm"
              novalidate
              ng-submit='$ctrl.changePassword(changePasswordForm)'
              autocomplete='off'
            )
              .col-md-12.col-sm-12.col-xs-12.no-padder
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    label.col-xs-12.input-group
                      | Current Password *
                      input.form-control(type='password', name='old_password', placeholder='Enter Current Password' ng-model='$ctrl.data.old_password' required autocomplete='off')
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$invalid') Please Enter existing password
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && !changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$invalid') Please Enter existing password
                .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    label.col-xs-12.input-group
                      | New Password *
                      input.form-control(type='password', name='password', placeholder='Enter New Password' ng-model='$ctrl.data.password' required autocomplete='off')
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && changePasswordForm.password.$dirty && changePasswordForm.password.$invalid') Please Enter New Password
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && !changePasswordForm.password.$dirty && changePasswordForm.password.$invalid') Please Enter New Password
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && $ctrl.data.password.length < 6') Please Enter minimum six character
                .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
                .row
                  .col-md-6.col-sm-6.col-xs-12
                    label.col-xs-12.input-group
                      | Confirm Password*
                      input.form-control(type='password', name='confirm_password', placeholder='Re-Enter New Password' ng-model='$ctrl.data.confirm_password' required autocomplete='off')
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && changePasswordForm.confirm_password.$dirty && changePasswordForm.confirm_password.$invalid') Please Re-Enter New Password
                      b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && !changePasswordForm.confirm_password.$dirty && changePasswordForm.confirm_password.$invalid') Please Re-Enter New Password
                      span(ng-show="$ctrl.clickChange && changePasswordForm.old_password && changePasswordForm.confirm_password && changePasswordForm.old_password.$dirty && $ctrl.data.password !== $ctrl.data.confirm_password")
                        b.wrapper-xs.text-xs.text-danger New password and confirm password does not match !
                .line.line-dashed.b-b.line-lg.pull-in(style='margin: 5px 0;')
                .row
                  .col-xs-12
                    h4.text-danger(ng-bind="$ctrl.error.message")
                    button.btn.btn-info(type='submit')
                      i.fas.fa-save.m-r-sm
                      span.text-white Change Password
                      span(ng-if='$ctrl.submitting')
                        i.fa.fa-spin.fa-circle-o-notch
                        span.text-white &nbsp;&nbsp;Submitting...
          .clearfix
