extends ../layout
block content
  head
    title '#{title}'
    meta(name='description', content= '#{meta_description}')
    meta(property='og:title', content='#{meta_title}')
  .body
    .container
      .row
        .col-sm-12
          h1(itemprop="name")
            | Shoppre Ships to 220+ countries and territories around the globe!
            | 2-5 Days
            br
            br
          .row
            .col-sm-12
              ul.nav.nav-tabs
                li.active
                  a(data-toggle='tab', href='#Countries') Countries Name
                li
                  a(data-toggle='tab', href='#CountriesLogo') Countries Logo

              .tab-content
                #Countries.tab-pane.fade.in.active
                  .row#org-repositories(data-pjax-container='')
                    .col-12.d-inline-block
                      .org-repos.repo-list
                        each county in countries || []
                          li.col-12.d-block.width-full.py-4.border-bottom.public.source(itemprop='owns', itemscope='', itemtype='http://schema.org/Code')
                            .d-inline-block.mb-1
                              h3
                                a(href='#', itemprop='name codeRepository')
                                  |USA
                                  | #{name}
                                  //h4= 'iso2' + ' : ' + c.iso2


                #CountriesLogo.tab-pane.fade
                  .row
                    br
                    br
                    br
                    .col-md-12
                      .seller_tab
                        .tab-content
                          .tab-pane.fade.in.active(role='tabpanel')
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Afghanistan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/afghanistan.jpg');")
                                  h5 Afghanistan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Albania')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/albania.png');")
                                  h5 Albania
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Algeria')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/algeria.jpg');")
                                  h5 Algeria
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-American%20Samoa')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/american-samoa.jpeg');")
                                  h5 American Samoa
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Andorra')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/andorra.jpeg');")
                                  h5 Andorra
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Angola')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/angola.jpg');")
                                  h5 Angola
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Anguilla')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/anguilla.jpeg');")
                                  h5 Anguilla
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Antigua%20and%20Barbuda')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/antigua-and-barbuda.jpg');")
                                  h5 Antigua and Barbuda
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Argentina')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/argentina.png');")
                                  h5 Argentina
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Armenia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/armenia.jpeg');")
                                  h5 Armenia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Aruba')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/aruba.jpeg');")
                                  h5 Aruba
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Australia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/australia.jpg');")
                                  h5 Australia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Austria')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/austria.jpg');")
                                  h5 Austria
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Azerbaijan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/azerbaijan.jpg');")
                                  h5 Azerbaijan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bahamas')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bahamas.jpeg');")
                                  h5 Bahamas
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bahrain')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bahrain.jpeg');")
                                  h5 Bahrain
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bangladesh')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bangladesh.jpg');")
                                  h5 Bangladesh
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Barbados')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/barbados.jpg');")
                                  h5 Barbados
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Belarus')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/belarus.png');")
                                  h5 Belarus
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Belgium')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/belgium.jpg');")
                                  h5 Belgium
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Belize')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/belize.jpg');")
                                  h5 Belize
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Benin')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/benin.png');")
                                  h5 Benin
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bermuda')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bermuda.png');")
                                  h5 Bermuda
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bhutan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bhutan.jpg');")
                                  h5 Bhutan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bolivia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bolivia.jpg');")
                                  h5 Bolivia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bosnia%20and%20Herzegovina')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bosnia-and-herzegovina.jpeg');")
                                  h5 Bosnia and Herzegovina
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Botswana')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/botswana.jpg');")
                                  h5 Botswana
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Brazil')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/brazil.jpg');")
                                  h5 Brazil
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Brunei')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/brunei.jpeg');")
                                  h5 Brunei
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Bulgaria')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/bulgaria.jpg');")
                                  h5 Bulgaria
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Burkina%20Faso')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/burkina-faso.jpg');")
                                  h5 Burkina Faso
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Burundi')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/burundi.jpeg');")
                                  h5 Burundi
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cambodia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cambodia.jpg');")
                                  h5 Cambodia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cameroon')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cameroon.jpg');")
                                  h5 Cameroon
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Canada')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/canada.jpg');")
                                  h5 Canada
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cape%20Verde')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cape-verde.jpg');")
                                  h5 Cape Verde
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cayman%20Islands')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cayman-islands.gif');")
                                  h5 Cayman Islands
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Central%20African%20Republic')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/central-african-republic.jpg');")
                                  h5 Central African Republic
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Chad')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/chad.jpg');")
                                  h5 Chad
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Chile')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/chile.jpg');")
                                  h5 Chile
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-China')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/china.png');")
                                  h5 China
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Colombia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/colombia.jpg');")
                                  h5 Colombia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Comoros')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/comoros.jpg');")
                                  h5 Comoros
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Congo')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/congo.jpg');")
                                  h5 Congo
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Congo')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/congo.jpg');")
                                  h5 Congo
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cook%20Islands')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cookislands.png');")
                                  h5 Cook Islands
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Costa%20Rica')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/costa-rica.jpg');")
                                  h5 Costa Rica
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cote%20D%27Ivoire')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cote-dIvoire.jpg');")
                                  h5 Cote D'Ivoire
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Croatia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/croatia.jpg');")
                                  h5 Croatia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cuba')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cuba.jpg');")
                                  h5 Cuba
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Cyprus')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/cyprus.jpg');")
                                  h5 Cyprus
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Czech%20Republic')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/czech-republic.jpg');")
                                  h5 Czech Republic
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Denmark')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/denmark.jpg');")
                                  h5 Denmark
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Djibouti')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/djibouti.jpg');")
                                  h5 Djibouti
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Dominica')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/dominica.png');")
                                  h5 Dominica
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Dominican%20Republic')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/dominican-republic.jpg');")
                                  h5 Dominican Republic
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Ecuador')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/ecuador.jpg');")
                                  h5 Ecuador
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Egypt')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/egypt.png');")
                                  h5 Egypt
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-El%20Salvador')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/el-salvador.jpg');")
                                  h5 El Salvador
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Eritrea')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/eritrea.jpg');")
                                  h5 Eritrea
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Estonia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/estonia.jpg');")
                                  h5 Estonia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Ethiopia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/ethiopia.jpg');")
                                  h5 Ethiopia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Falkland%20Islands%20%28Malvinas%29')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/falkland-islands .png');")
                                  h5 Falkland Islands (Malvinas)
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Faroe%20Islands')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/faroe-islands.jpg');")
                                  h5 Faroe Islands
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Fiji')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/fiji.jpg');")
                                  h5 Fiji
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Finland')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/finland.jpg');")
                                  h5 Finland
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-France')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/france.jpg');")
                                  h5 France
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-French%20Guyana')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/french-guyana.jpg');")
                                  h5 French Guyana
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Gabon')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/gabon.jpg');")
                                  h5 Gabon
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Gambia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/gambia.jpg');")
                                  h5 Gambia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Georgia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/georgia.jpg');")
                                  h5 Georgia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Germany')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/germany.png');")
                                  h5 Germany
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Ghana')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/ghana.jpg');")
                                  h5 Ghana
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Gibraltar')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/gibraltar.jpg');")
                                  h5 Gibraltar
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Greece')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/greece.jpg');")
                                  h5 Greece
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Greenland')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/greenland.jpg');")
                                  h5 Greenland
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Grenada')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/grenada.jpg');")
                                  h5 Grenada
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guadeloupe')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guadeloupe.jpg');")
                                  h5 Guadeloupe
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guam')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guam.jpeg');")
                                  h5 Guam
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guatemala')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guatemala.jpg');")
                                  h5 Guatemala
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guinea%20-%20Equatorial')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guinea-equatorial.jpg');")
                                  h5 Guinea - Equatorial
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guinea%20Republic')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guinea-republic.jpg');")
                                  h5 Guinea Republic
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guinea-Bissau')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guinea-bissau.png');")
                                  h5 Guinea-Bissau
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Guyana%20%28British%29')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/guyana-british.png');")
                                  h5 Guyana (British)
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Haiti')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/haiti.jpg');")
                                  h5 Haiti
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Honduras')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/honduras.png');")
                                  h5 Honduras
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Hong%20Kong')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/hong-kong.png');")
                                  h5 Hong Kong
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Hungary')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/hungary.jpg');")
                                  h5 Hungary
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Iceland')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/iceland.jpg');")
                                  h5 Iceland
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-India')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/india.png');")
                                  h5 India
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Indonesia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/indonesia.jpg');")
                                  h5 Indonesia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Iran')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/iran.jpg');")
                                  h5 Iran
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Iraq')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/iraq.jpg');")
                                  h5 Iraq
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Ireland,%20Republic%20of')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/ireland-epublic-of.jpg');")
                                  h5 Ireland, Republic of
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Israel')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/israel.png');")
                                  h5 Israel
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Italy')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/italy.jpg');")
                                  h5 Italy
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Jamaica')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/jamaica.jpeg');")
                                  h5 Jamaica
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Japan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/japan.jpg');")
                                  h5 Japan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Jordan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/jordan.jpg');")
                                  h5 Jordan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Kazakhstan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/kazakhstan.png');")
                                  h5 Kazakhstan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Kenya')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/kenya.jpg');")
                                  h5 Kenya
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Kiribati')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/kiribati.jpg');")
                                  h5 Kiribati
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Kuwait')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/kuwait.png');")
                                  h5 Kuwait
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Kyrgyzstan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/kyrgyzstan.jpg');")
                                  h5 Kyrgyzstan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Laos')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/laos.jpg');")
                                  h5 Laos
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Latvia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/latvia.jpg');")
                                  h5 Latvia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Lebanon')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/lebanon.jpg');")
                                  h5 Lebanon
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Lesotho')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/lesotho.jpg');")
                                  h5 Lesotho
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Liberia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/liberia.jpg');")
                                  h5 Liberia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Libya')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/libya.png');")
                                  h5 Libya
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Liechtenstein')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/liechtenstein.png');")
                                  h5 Liechtenstein
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Lithuania')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/lithuania.jpg');")
                                  h5 Lithuania
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Luxembourg')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/luxembourg.jpg');")
                                  h5 Luxembourg
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Macao')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/macao.jpg');")
                                  h5 Macao
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Macedonia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/macedonia.jpg');")
                                  h5 Macedonia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Madagascar')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/madagascar.jpg');")
                                  h5 Madagascar
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Malawi')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/malawi.png');")
                                  h5 Malawi
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Malaysia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/malaysia.jpg');")
                                  h5 Malaysia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Maldives')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/maldives.jpg');")
                                  h5 Maldives
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mali')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mali.jpg');")
                                  h5 Mali
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Malta')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/malta.svg');")
                                  h5 Malta
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Marshall%20Islands')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/marshall-islands.png');")
                                  h5 Marshall Islands
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Martinique')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/martinique.png');")
                                  h5 Martinique
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mauritania')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mauritania.png');")
                                  h5 Mauritania
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mauritius')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mauritius.jpg');")
                                  h5 Mauritius
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mayotte')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mayotte.png');")
                                  h5 Mayotte
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mexico')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mexico.png');")
                                  h5 Mexico
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Micronesia,%20Federated%20States%20of')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/micronesia-federated-states of.png');")
                                  h5 Micronesia, Federated States of
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Moldova')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/moldova.jpg');")
                                  h5 Moldova
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Monaco')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/monaco.jpg');")
                                  h5 Monaco
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mongolia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mongolia.png');")
                                  h5 Mongolia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Montenegro')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/montenegro.jpg');")
                                  h5 Montenegro
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Montserrat')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/montserrat.png');")
                                  h5 Montserrat
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Morocco')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/morocco.jpg');")
                                  h5 Morocco
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Mozambique')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/mozambique.jpg');")
                                  h5 Mozambique
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Myanmar')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/myanmar.jpg');")
                                  h5 Myanmar
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Namibia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/namibia.png');")
                                  h5 Namibia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Nauru')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/nauru.jpg');")
                                  h5 Nauru
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Nepal')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/nepal.jpeg');")
                                  h5 Nepal
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Netherlands,%20The')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/netherlands.jpg');")
                                  h5 Netherlands, The
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-New%20Caledonia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/new-caledonia.jpg');")
                                  h5 New Caledonia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-New%20Zealand')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/new-zealand.jpg');")
                                  h5 New Zealand
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Nicaragua')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/nicaragua.png');")
                                  h5 Nicaragua
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Niger')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/niger.png');")
                                  h5 Niger
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Nigeria')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/nigeria.jpg');")
                                  h5 Nigeria
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Niue')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/niue.png');")
                                  h5 Niue
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-North%20Korea')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/north-korea.jpg');")
                                  h5 North Korea
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Norway')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/norway.jpg');")
                                  h5 Norway
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Oman')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/oman.jpg');")
                                  h5 Oman
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Pakistan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/pakistan.jpg');")
                                  h5 Pakistan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Palau')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/palau.jpg');")
                                  h5 Palau
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Panama')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/panama.jpg');")
                                  h5 Panama
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Papua%20New%20Guinea')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/papua-new-guinea.jpg');")
                                  h5 Papua New Guinea
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Paraguay')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/paraguay.jpg');")
                                  h5 Paraguay
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Peru')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/peru.jpg');")
                                  h5 Peru
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Philippines,The')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/philippines.jpg');")
                                  h5 Philippines,The
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Poland')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/poland.jpg');")
                                  h5 Poland
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Portugal')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/portugal.jpg');")
                                  h5 Portugal
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Puerto%20Rico')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/puerto-rico.jpg');")
                                  h5 Puerto Rico
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Qatar')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/patar.jpg');")
                                  h5 Qatar
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Reunion,%20Island%20of')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/reunion-island-of.png');")
                                  h5 Reunion, Island of
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Romania')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/romania.jpg');")
                                  h5 Romania
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Russian%20Federation,%20The')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/russian-federation-the.jpg');")
                                  h5 Russian Federation, The
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Rwanda')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/rwanda.jpg');")
                                  h5 Rwanda
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Saint%20Helena')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/saint-helena.jpg');")
                                  h5 Saint Helena
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Saipan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/saipan.jpg');")
                                  h5 Saipan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Samoa')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/samoa.png');")
                                  h5 Samoa
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-San%20Marino')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/san-marino.jpg');")
                                  h5 San Marino
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Sao%20Tome%20and%20Principe')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/Sao-tome-and-principe.jpg');")
                                  h5 Sao Tome and Principe
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Saudi%20Arabia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/saudi-arabia.jpg');")
                                  h5 Saudi Arabia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Senegal')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/senegal.jpg');")
                                  h5 Senegal
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Serbia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/serbia.jpg');")
                                  h5 Serbia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Seychelles')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/seychelles.png');")
                                  h5 Seychelles
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Sierra%20Leone')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/sierra-leone.jpg');")
                                  h5 Sierra Leone
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Singapore')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/singapore.jpg');")
                                  h5 Singapore
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Slovakia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/slovakia.jpg');")
                                  h5 Slovakia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Slovenia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/slovenia.jpg');")
                                  h5 Slovenia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Solomon%20Islands')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/solomon-islands.png');")
                                  h5 Solomon Islands
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Somalia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/somalia.jpg');")
                                  h5 Somalia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-South%20Africa')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/south-africa.png');")
                                  h5 South Africa
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-South%20Korea')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/south-korea.jpg');")
                                  h5 South Korea
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Spain')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/spain.jpg');")
                                  h5 Spain
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Sri%20Lanka')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/sri-lanka.png');")
                                  h5 Sri Lanka
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-St.%20Barthelemy')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/st-barthelemy.png');")
                                  h5 St. Barthelemy
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-St.%20Eustatius')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/st-statius.png');")
                                  h5 St. Eustatius
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-St.%20Lucia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/st-lucia.jpg');")
                                  h5 St. Lucia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-St.%20Maarten')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/st-maarten.jpg');")
                                  h5 St. Maarten
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-St.%20Vincent')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/st-vincent.jpg');")
                                  h5 St. Vincent
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Sudan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/sudan.jpg');")
                                  h5 Sudan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Suriname')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/suriname.png');")
                                  h5 Suriname
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Swaziland')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/swaziland.png');")
                                  h5 Swaziland
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Sweden')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/sweden.png');")
                                  h5 Sweden
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Switzerland')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/switzerland.jpg');")
                                  h5 Switzerland
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Syria')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/syria.jpg');")
                                  h5 Syria
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Taiwan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/taiwan.jpg');")
                                  h5 Taiwan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Tajikistan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/tajikistan.png');")
                                  h5 Tajikistan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Tanzania')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/tanzania.png');")
                                  h5 Tanzania
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Thailand')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/thailand.jpg');")
                                  h5 Thailand
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Togo')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/togo.jpg');")
                                  h5 Togo
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Tokelau')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/tokelau.png');")
                                  h5 Tokelau
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Tonga')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/tonga.jpg');")
                                  h5 Tonga
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Trinidad%20and%20Tobago')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/trinidad-and-tobago.jpg');")
                                  h5 Trinidad and Tobago
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Tunisia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/tunisia.jpg');")
                                  h5 Tunisia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Turkey')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/turkey.jpg');")
                                  h5 Turkey
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Turkmenistan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/turkmenistan.png');")
                                  h5 Turkmenistan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Turks%20and%20Caicos%20Islands')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/turks-and-caicos-islands.png');")
                                  h5 Turks and Caicos Islands
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Tuvalu')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/tuvalu.jpg');")
                                  h5 Tuvalu
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Uganda')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/uganda.jpg');")
                                  h5 Uganda
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Ukraine')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/ukraine.jpg');")
                                  h5 Ukraine
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-United%20Arab%20Emirates')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/united-arab-emirates.jpg');")
                                  h5 United Arab Emirates
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-United%20Kingdom')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/united-kingdom.jpg');")
                                  h5 United Kingdom
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-United%20States')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/united-states.jpg');")
                                  h5 United States
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Uruguay')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/uruguay.jpg');")
                                  h5 Uruguay
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Uzbekistan')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/uzbekistan.jpg');")
                                  h5 Uzbekistan
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Vanuatu')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/vanuatu.png');")
                                  h5 Vanuatu
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Vatican%20City%20State')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/vatican-city-state.jpg');")
                                  h5 Vatican City State
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Venezuela')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/venezuela.jpg');")
                                  h5 Venezuela
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Vietnam')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/vietnam.jpg');")
                                  h5 Vietnam
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Virgin%20Islands%20%28British%29')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/virgin-islands-british.png');")
                                  h5 Virgin Islands (British)
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Virgin%20Islands%20%28U.S.%29')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/virgin-islands-us.jpg');")
                                  h5 Virgin Islands (U.S.)
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Wallis%20and%20Futuna')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/wallis-and-futuna.png');")
                                  h5 Wallis and Futuna
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Western%20Sahara')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/western-sahara.png');")
                                  h5 Western Sahara
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Yemen')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/yemen.png');")
                                  h5 Yemen
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Zambia')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/zambia.jpg');")
                                  h5 Zambia
                            .col-sm-2
                              .seller_box
                                a(href='https://www.shoppre.com/shipping-from-india-to-Zimbabwe')
                                  span.brand_logo(style="background-image: url('https://www.shoppre.com/img/flags/zimbabwe.jpg');")
                                  h5 Zimbabwe
                            .clearfix
                        .ajaxload

      .row
        br
        br
        .col-sm-12
          .panel.panel-default

            h3#Countries-list
              a(href="#Items-Send-with-DHL" style="margin-left:30px" ) Find helpful information specific to your country, including:
            .panel-body
              .div(style="margin-left:30px")
                ul
                  li: h5
                    a(href='#' itemprop="sameAs") Shipping costs
                  li: h5
                    a(href='#' itemprop="sameAs") Duties and taxes
                  li: h5
                    a(href='#' itemprop="sameAs") Restricted & prohibited items
                  li: h5
                    a(href='#' itemprop="sameAs") Current exchange rates
                  li: h5
                    a(href='#' itemprop="sameAs") Typical transit times
                  li: h5
                    a(href='#' itemprop="sameAs") Country alerts
