.modal-header.bg-light.dk
  .modal-title
    .text-info-dker.h4 Re-Login Required

.modal-body.clear.bg-white-only
  .pull-left
    .wrapper-xs.h4.text-black You are no longer logged in. Please Re-authenticate.

  .pull-right
    a.btn.btn-success.btn-md(ng-href='{{ReAuth.href}}') Log In
