.bg-white-only.padder-v.padder-lg
  .h2.font-thin.b-b.wrapper-xs(ng-if='$ctrl.ui.pref') Preferences
  form.m-b-sm.wrapper-xs.clear(name='prefs', ng-submit='$ctrl.save()')
    .m-b-md.clear(ng-if='$ctrl.ui.ctc')
      .h4.wrapper-xs What is the CTC Range you would like to work on?
      .padder-md(ng-init="$ctrl.ctcRange = {};")
        .col-xs-12
          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.ctcRange.junior" ng-change="$ctrl.data.ctcRange[0].selected = $ctrl.data.ctcRange[1].selected = $ctrl.ctcRange.junior;")
              i
              .hide(ng-bind="$ctrl.ctcRange.junior  = $ctrl.data.ctcRange[0].selected && $ctrl.data.ctcRange[1].selected ")
              | Junior

          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.ctcRange.mid" ng-change="$ctrl.data.ctcRange[2].selected =  $ctrl.data.ctcRange[3].selected = $ctrl.ctcRange.mid;")
              i
              .hide(ng-bind="$ctrl.ctcRange.mid  = $ctrl.data.ctcRange[2].selected  && $ctrl.data.ctcRange[3].selected ")
              | Mid

          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.ctcRange.senior" ng-change="$ctrl.data.ctcRange[4].selected = $ctrl.data.ctcRange[5].selected = $ctrl.data.ctcRange[6].selected = $ctrl.ctcRange.senior;")
              i
              .hide(ng-bind="$ctrl.ctcRange.senior  = $ctrl.data.ctcRange[4].selected  && $ctrl.data.ctcRange[5].selected  && $ctrl.data.ctcRange[6].selected")
              | Senior

          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.ctcRange.all" ng-change="$ctrl.toggleSelect($ctrl.data.ctcRange, $ctrl.ctcRange.all)")
              i
              .hide(ng-bind="$ctrl.ctcRange.all  = $ctrl.ctcRange.junior && $ctrl.ctcRange.mid  && $ctrl.ctcRange.senior  ")
              | All

        .line.line-solid.line-lg.pull-in.b-b

        .col-xs-12
          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[0].selected")
              i
              | {{ $ctrl.data.ctcRange[0].min }} - {{ $ctrl.data.ctcRange[0].max }} Lakhs
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[1].selected")
              i
              | {{ $ctrl.data.ctcRange[1].min }} - {{ $ctrl.data.ctcRange[1].max }} Lakhs

          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[2].selected")
              i
              | {{ $ctrl.data.ctcRange[2].min }} - {{ $ctrl.data.ctcRange[2].max }} Lakhs
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[3].selected")
              i
              | {{ $ctrl.data.ctcRange[3].min }} - {{ $ctrl.data.ctcRange[3].max }} Lakhs

          .col-xs-3: ul.nav
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[4].selected")
              i
              | {{ $ctrl.data.ctcRange[4].min }} - {{ $ctrl.data.ctcRange[4].max }} Lakhs
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[5].selected")
              i
              | {{ $ctrl.data.ctcRange[5].min }} - {{ $ctrl.data.ctcRange[5].max }} Lakhs
            li: label.i-checks.i-checks-sm
              input(type="checkbox" ng-model="$ctrl.data.ctcRange[6].selected")
              i
              | {{ $ctrl.data.ctcRange[6].min }}+ Lakhs

    .m-b-md(ng-if='$ctrl.ui.func')
      .h4.wrapper-xs
        span Choose your preferred Functions
        span.btn.btn-xs.m-xs.m-l-md.text-u-c(
        ng-class="$ctrl.allSelected() ? 'btn-info':'btn-default'"
        ng-click="$ctrl.toggleSelect($ctrl.data.functionList, !$ctrl.allSelected())") Select All

      div.padder-md
        span.btn.btn-xs.m-xs.text-u-c(ng-repeat="function in $ctrl.data.functionList" ng-class="function.selected ? 'btn-info':'btn-default'" ng-click="function.selected =!function.selected")
          | {{function.name}}&nbsp;&nbsp;
          span.fa(ng-class="function.selected ? 'fa-close text-white':'fa-plus text-info'")
    .m-b-md(ng-if='$ctrl.ui.industry')
      .h4.wrapper-xs Choose your preferred Industries
      div.padder-md
        span.btn.btn-xs.m-xs.text-u-c(ng-repeat="function in $ctrl.data.industryList" ng-class="function.selected ? 'btn-info':'btn-default'" ng-click="function.selected =!function.selected")
          | {{function.name}}&nbsp;&nbsp;
          span.fa(ng-class="function.selected ? 'fa-close text-white':'fa-plus text-info'")

    .text-center: button.btn.btn-success.btn-sm.padder-lg(ng-disabled='$ctrl.reload === false')
      span(ng-if='$ctrl.reload !== false')
        span.m-r-xs Save
      span(ng-if='$ctrl.reload === false')
        span.m-r-xs Saving...
        i.fa.fa-spin.fa-circle-o-notch
