extends ../layout
block content
  head
    title '#{title}'
    meta(name='description', content= '#{meta_description}')
    meta(property='og:title', content='#{meta_title}')
  .body
    .noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NRL4B6X', height='0', width='0', style='display:none;visibility:hidden')

  .container
    section.contact_ico
      .container
        .blox
          img(src='https://www.shoppre.com/img/contact1.png')
          h4 Call
          span
            a(href='tel:+91 80 4094 4077') +91 80 4094 4077
        .blox
          img(src='https://www.shoppre.com/img/contact3.png')
          h4 Email
          span
            a(href='mailto:support@shoppre.com') support@shoppre.com
        .blox
          img(src='https://www.shoppre.com/img/contact4.png')
          h4 Live Chat
          span
            a(href='https://tawk.to/chat/59d72784c28eca75e4624678/default/?$_tawk_popout=true', target='_blank') Our Team is at your service 24/7
        .blox
          img(src='https://www.shoppre.com/img/contact5.png')
          h4 Hours
          span
            | Monday - Sunday
            br
            | service 24/7

      section.contact_us
        .container
          br
          br
          br
          .col-sm-7
            .contact_form
              form.form-horizontal(method='post', action='https://www.shoppre.com/contact/submit')
                input(type='hidden', name='_token', value='Bm7G09hF7wE5EvBxEEfK99dZnAkpdveOgSqbGZmY')
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/name.png')
                    input.form-control(type='text', placeholder='First Name', name='firstname')
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/name.png')
                    input.form-control(type='text', placeholder='Last Name', name='lastname')
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/mail.png')
                    input.form-control(type='email', placeholder='Email', name='email')
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/locker.png')
                    input.form-control(type='text', placeholder='My Locker(optional)', name='locker')
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/country.png')
                    select.form-control.select2(name='country')
                      option(value='') Select Country
                      option(value='Afghanistan') Afghanistan
                      option(value='Albania') Albania
                      option(value='Algeria') Algeria
                      option(value='American Samoa') American Samoa
                      option(value='Andorra') Andorra
                      option(value='Angola') Angola
                      option(value='Anguilla') Anguilla
                      option(value='Antigua and Barbuda') Antigua and Barbuda
                      option(value='Argentina') Argentina
                      option(value='Armenia') Armenia
                      option(value='Aruba') Aruba
                      option(value='Australia') Australia
                      option(value='Austria') Austria
                      option(value='Azerbaijan') Azerbaijan
                      option(value='Bahamas') Bahamas
                      option(value='Bahrain') Bahrain
                      option(value='Bangladesh') Bangladesh
                      option(value='Barbados') Barbados
                      option(value='Belarus') Belarus
                      option(value='Belgium') Belgium
                      option(value='Belize') Belize
                      option(value='Benin') Benin
                      option(value='Bermuda') Bermuda
                      option(value='Bhutan') Bhutan
                      option(value='Bolivia') Bolivia
                      option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
                      option(value='Botswana') Botswana
                      option(value='Brazil') Brazil
                      option(value='Brunei') Brunei
                      option(value='Bulgaria') Bulgaria
                      option(value='Burkina Faso') Burkina Faso
                      option(value='Burundi') Burundi
                      option(value='Cambodia') Cambodia
                      option(value='Cameroon') Cameroon
                      option(value='Canada') Canada
                      option(value='Cape Verde') Cape Verde
                      option(value='Cayman Islands') Cayman Islands
                      option(value='Central African Republic') Central African Republic
                      option(value='Chad') Chad
                      option(value='Chile') Chile
                      option(value='China') China
                      option(value='Colombia') Colombia
                      option(value='Comoros') Comoros
                      option(value='Congo') Congo
                      option(value='Congo') Congo
                      option(value='Cook Islands') Cook Islands
                      option(value='Costa Rica') Costa Rica
                      option(value="Cote D'Ivoire") Cote D'Ivoire
                      option(value='Croatia') Croatia
                      option(value='Cuba') Cuba
                      option(value='Cyprus') Cyprus
                      option(value='Czech Republic') Czech Republic
                      option(value='Denmark') Denmark
                      option(value='Djibouti') Djibouti
                      option(value='Dominica') Dominica
                      option(value='Dominican Republic') Dominican Republic
                      option(value='Ecuador') Ecuador
                      option(value='Egypt') Egypt
                      option(value='El Salvador') El Salvador
                      option(value='Eritrea') Eritrea
                      option(value='Estonia') Estonia
                      option(value='Ethiopia') Ethiopia
                      option(value='Falkland Islands (Malvinas)') Falkland Islands (Malvinas)
                      option(value='Faroe Islands') Faroe Islands
                      option(value='Fiji') Fiji
                      option(value='Finland') Finland
                      option(value='France') France
                      option(value='French Guyana') French Guyana
                      option(value='Gabon') Gabon
                      option(value='Gambia') Gambia
                      option(value='Georgia') Georgia
                      option(value='Germany') Germany
                      option(value='Ghana') Ghana
                      option(value='Gibraltar') Gibraltar
                      option(value='Greece') Greece
                      option(value='Greenland') Greenland
                      option(value='Grenada') Grenada
                      option(value='Guadeloupe') Guadeloupe
                      option(value='Guam') Guam
                      option(value='Guatemala') Guatemala
                      option(value='Guinea - Equatorial') Guinea - Equatorial
                      option(value='Guinea Republic') Guinea Republic
                      option(value='Guinea-Bissau') Guinea-Bissau
                      option(value='Guyana (British)') Guyana (British)
                      option(value='Haiti') Haiti
                      option(value='Honduras') Honduras
                      option(value='Hong Kong') Hong Kong
                      option(value='Hungary') Hungary
                      option(value='Iceland') Iceland
                      option(value='India') India
                      option(value='Indonesia') Indonesia
                      option(value='Iran') Iran
                      option(value='Iraq') Iraq
                      option(value='Ireland, Republic of') Ireland, Republic of
                      option(value='Israel') Israel
                      option(value='Italy') Italy
                      option(value='Jamaica') Jamaica
                      option(value='Japan') Japan
                      option(value='Jordan') Jordan
                      option(value='Kazakhstan') Kazakhstan
                      option(value='Kenya') Kenya
                      option(value='Kiribati') Kiribati
                      option(value='Kuwait') Kuwait
                      option(value='Kyrgyzstan') Kyrgyzstan
                      option(value='Laos') Laos
                      option(value='Latvia') Latvia
                      option(value='Lebanon') Lebanon
                      option(value='Lesotho') Lesotho
                      option(value='Liberia') Liberia
                      option(value='Libya') Libya
                      option(value='Liechtenstein') Liechtenstein
                      option(value='Lithuania') Lithuania
                      option(value='Luxembourg') Luxembourg
                      option(value='Macao') Macao
                      option(value='Macedonia') Macedonia
                      option(value='Madagascar') Madagascar
                      option(value='Malawi') Malawi
                      option(value='Malaysia') Malaysia
                      option(value='Maldives') Maldives
                      option(value='Mali') Mali
                      option(value='Malta') Malta
                      option(value='Marshall Islands') Marshall Islands
                      option(value='Martinique') Martinique
                      option(value='Mauritania') Mauritania
                      option(value='Mauritius') Mauritius
                      option(value='Mayotte') Mayotte
                      option(value='Mexico') Mexico
                      option(value='Micronesia, Federated States of') Micronesia, Federated States of
                      option(value='Moldova') Moldova
                      option(value='Monaco') Monaco
                      option(value='Mongolia') Mongolia
                      option(value='Montenegro') Montenegro
                      option(value='Montserrat') Montserrat
                      option(value='Morocco') Morocco
                      option(value='Mozambique') Mozambique
                      option(value='Myanmar') Myanmar
                      option(value='Namibia') Namibia
                      option(value='Nauru') Nauru
                      option(value='Nepal') Nepal
                      option(value='Netherlands, The') Netherlands, The
                      option(value='New Caledonia') New Caledonia
                      option(value='New Zealand') New Zealand
                      option(value='Nicaragua') Nicaragua
                      option(value='Niger') Niger
                      option(value='Nigeria') Nigeria
                      option(value='Niue') Niue
                      option(value='North Korea') North Korea
                      option(value='Norway') Norway
                      option(value='Oman') Oman
                      option(value='Pakistan') Pakistan
                      option(value='Palau') Palau
                      option(value='Panama') Panama
                      option(value='Papua New Guinea') Papua New Guinea
                      option(value='Paraguay') Paraguay
                      option(value='Peru') Peru
                      option(value='Philippines,The') Philippines,The
                      option(value='Poland') Poland
                      option(value='Portugal') Portugal
                      option(value='Puerto Rico') Puerto Rico
                      option(value='Qatar') Qatar
                      option(value='Reunion, Island of') Reunion, Island of
                      option(value='Romania') Romania
                      option(value='Russian Federation, The') Russian Federation, The
                      option(value='Rwanda') Rwanda
                      option(value='Saint Helena') Saint Helena
                      option(value='Saipan') Saipan
                      option(value='Samoa') Samoa
                      option(value='San Marino') San Marino
                      option(value='Sao Tome and Principe') Sao Tome and Principe
                      option(value='Saudi Arabia') Saudi Arabia
                      option(value='Senegal') Senegal
                      option(value='Serbia') Serbia
                      option(value='Seychelles') Seychelles
                      option(value='Sierra Leone') Sierra Leone
                      option(value='Singapore') Singapore
                      option(value='Slovakia') Slovakia
                      option(value='Slovenia') Slovenia
                      option(value='Solomon Islands') Solomon Islands
                      option(value='Somalia') Somalia
                      option(value='South Africa') South Africa
                      option(value='South Korea') South Korea
                      option(value='Spain') Spain
                      option(value='Sri Lanka') Sri Lanka
                      option(value='St. Barthelemy') St. Barthelemy
                      option(value='St. Eustatius') St. Eustatius
                      option(value='St. Lucia') St. Lucia
                      option(value='St. Maarten') St. Maarten
                      option(value='St. Vincent') St. Vincent
                      option(value='Sudan') Sudan
                      option(value='Suriname') Suriname
                      option(value='Swaziland') Swaziland
                      option(value='Sweden') Sweden
                      option(value='Switzerland') Switzerland
                      option(value='Syria') Syria
                      option(value='Taiwan') Taiwan
                      option(value='Tajikistan') Tajikistan
                      option(value='Tanzania') Tanzania
                      option(value='Thailand') Thailand
                      option(value='Togo') Togo
                      option(value='Tokelau') Tokelau
                      option(value='Tonga') Tonga
                      option(value='Trinidad and Tobago') Trinidad and Tobago
                      option(value='Tunisia') Tunisia
                      option(value='Turkey') Turkey
                      option(value='Turkmenistan') Turkmenistan
                      option(value='Turks and Caicos Islands') Turks and Caicos Islands
                      option(value='Tuvalu') Tuvalu
                      option(value='Uganda') Uganda
                      option(value='Ukraine') Ukraine
                      option(value='United Arab Emirates') United Arab Emirates
                      option(value='United Kingdom') United Kingdom
                      option(value='United States') United States
                      option(value='Uruguay') Uruguay
                      option(value='Uzbekistan') Uzbekistan
                      option(value='Vanuatu') Vanuatu
                      option(value='Vatican City State') Vatican City State
                      option(value='Venezuela') Venezuela
                      option(value='Vietnam') Vietnam
                      option(value='Virgin Islands (British)') Virgin Islands (British)
                      option(value='Virgin Islands (U.S.)') Virgin Islands (U.S.)
                      option(value='Wallis and Futuna') Wallis and Futuna
                      option(value='Western Sahara') Western Sahara
                      option(value='Yemen') Yemen
                      option(value='Zambia') Zambia
                      option(value='Zimbabwe') Zimbabwe
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/phone-512.png')
                    input.form-control(type='number', placeholder='Contact Number', name='phone')
                .form-group
                  .input-group
                    .input-group-addon
                      img(src='/cdn/img/reason.png')
                    select.form-control.select2(name='reason')
                      option(value='Select Reason') Select Reason
                      option(value="Can't I sign into my account")
                        | Can't I sign into my account
                      option(value='Can you ship Dangerous Goods?')
                        | Can you ship Dangerous Goods?
                      option(value='Can you buy goods for me?')
                        | Can you buy goods for me?
                      option(value='Can I shop from any website I want?')
                        | Can I shop from any website I
                        | want?
                      option(value='Do you offer a pick up service?')
                        | Do you offer a pick up service?
                      option(value='How do I apply for a membership?')
                        | How do I apply for a membership?
                      option(value='How do I cancel my account?')
                        | How do I cancel my account?
                      option(value='How do I cancel my shipment request?')
                        | How do I cancel my shipment
                        | request?
                      option(value='How do I place a Personal Shopper order?')
                        | How do I place a Personal
                        | Shopper order?
                      option(value='How can I purchase items online?')
                        | How can I purchase items online?
                      option(value='How do I partner with Shoppre.com?')
                        | How do I partner with
                        | Shoppre.com?
                      option(value='How do I track my package?')
                        | How do I track my package?
                      option(value='How Much do you Charge for Shipping?')
                        | How Much do you Charge for
                        | Shipping?
                      option(value='What are my payment options?')
                        | What are my payment options?
                      option(value='What are the Personal Shopper works?')
                        | What are the Personal Shopper
                        | works?
                      option(value='What are the Personal Shopper Fees?')
                        | What are the Personal Shopper
                        | Fees?
                      option(value='When am I charged for duties and taxes?')
                        | When am I charged for
                        | duties and taxes?
                      option(value='Why am I not able to create a ship request?')
                        | Why am I not able to
                        | create a ship request?
                      option(value='What carriers do you ship with?')
                        | What carriers do you ship with?
                      option(value='What if I entered my address wrong?')
                        | What if I entered my address
                        | wrong?
                      option(value='Where is my package?')
                        | Where is my package?
                      option(value='What is the consolidation process?')
                        | What is the consolidation
                        | process?
                      option(value='Why was my registration unsuccessful?')
                        | Why was my registration
                        | unsuccessful?
                      option(value='Other Help?')
                        | Other Help?
                .form-group.textarea
                  textarea.form-control(type='text', rows='6', placeholder='Enter Your Message', name='msg_content')
                .form-group
                  .input-group
                    button.btn.btn-shoppre(type='submit') Send Message
          .col-sm-5
            .contact_loc
              h4 Our Office in India
              #map1
              p
                | IndianShoppre LLP, First Floor, No. 181, 2nd Cross Road, 7th Main, Koramangala 1st Block, Bengaluru I 560034, Karnataka, India
              hr
              h4 Our Office in U.A.E
              #map2
              p
                | Sephora Office, Mezzanine Floor, Flora Creek Hotel Apartments, Near Deira City Centre, Port Saeed | 119062 Dubai, UAE
            .contact_social
              a(href='https://www.facebook.com/goshoppre/', target='_blank')
                img(src='/cdn/img/facebook.png')
                span Like Us
              a(href='https://www.instagram.com/shoppre_official/?hl=en', target='_blank')
                img(src='/cdn/img/instagram.png')
                span Follow us
              a(href='https://twitter.com/Go_Shoppre', target='_blank')
                img(src='/cdn/img/twitter.png')
                span Tweet to us
              a(href='https://www.youtube.com/channel/UCCBP1ybWY9spoleKqMgAQaw', target='_blank')
                img(src='/cdn/img/youtube.png')
                span Watch our videos


script(type='text/javascript').
  var map1, map2;
  function initialize() {
    var LatLng1 = {lat: 12.9257893, lng: 77.6343453};
    map1= new google.maps.Map(document.getElementById("map1"), {
      zoom: 14,
      center: LatLng1,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker1 = new google.maps.Marker({
      position: LatLng1,
      map: map1,
    });
    var LatLng2 = {lat: 25.2534363, lng: 55.3282428};
    map2 = new google.maps.Map(document.getElementById("map2"), {
      zoom: 14,
      center: LatLng2,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker2 = new google.maps.Marker({
      position: LatLng2,
      map: map2,
    });
  }
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQzl11fjwwyiw_KRIV61HN7U-5HPPwmLQ&callback=initialize')


