.container-fluid.w-xxl.w-auto-xs
  a.navbar-brands.block.m-t(href='https://www.shoppre.com')
    img(src="/assets/images/wordmark.png" width="200px")
  .wrapper.text-center(ng-if='!$ctrl.showForm')
    strong Loading...
  .wrapper.text-center(ng-if='$ctrl.showForm')
    strong Sign in
    br
    a(href="{{$ctrl.urls.API_SERVER}}/oauth/google")
      img(width="200" src='https://developers.google.com/accounts/images/sign-in-with-google.png')
  .m-b-lg(ng-if='$ctrl.showForm')
    form.form-validation(name='form', autocomplete="off", ng-submit='$ctrl.signin({ form })')
      .text-center(style='height: 30px;')
        span.text-danger(ng-bind='$ctrl.error', ng-if='$ctrl.error')
      .list-group.list-group-sm
        .list-group-item
          input.no-border.form-control(type='text', placeholder='Email', ng-model='$ctrl.user.username', autofocus='true', required)
        .list-group-item
          input.form-control.no-border(type='password', placeholder='Password', ng-model='$ctrl.user.password', required)
      button.btn.btn-lg.btn-info.btn-block(type='submit') Log in
  //.wrapper-md.text-center: a.text-info(ui-sref='oauth.password-reset') Forgot password?

