extends ../layout
block content
  head
    title Online Shopping: Best Stores for Shopping Online
    meta(name='description', content= 'Shop with PayPal at millions of online stores by logging in with just your email and password. Secure check out at eBay, Best Buy, Home Depot and more.')
    meta(property='og:title', content='Online Shopping: Best Stores for Shopping Online - PayPal CA')
  .body
    .container
      .col-md-12
        .seller_tab
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#web', aria-controls='web', role='tab', data-toggle='tab') Top Online Sellers
            //li(role='presentation')
            //  a(href='#fb', aria-controls='fb', role='tab', data-toggle='tab') Top FB/Instagram Sellers
            //li(role='presentation')
            //  a(href='#featured', aria-controls='featured', role='tab', data-toggle='tab') Shoppre Featured Sellers
          .tab-content
            #web.tab-pane.fade.in.active(role='tabpanel')
              .col-sm-3
                .seller_box
                  a(href='https://www.amazon.in', target='_blank', title='Shop Amazon.in and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a54505c0f06.png');")
                  span.info AbeBooks Books, art & collectibles Amazon Web
              .col-sm-3
                .seller_box
                  a(href='https://www.flipkart.com/', target='_blank', title='Shop Flipkart.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_5996fd9938980.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.snapdeal.com/', target='_blank', title='Shop Snapdeal.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_5997a5f75b61b.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.jabong.com/', target='_blank', title='Shop Jabong.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_599691d00e27e.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.myntra.com/', target='_blank', title='Shop Myntra.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_5997a62748742.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.ebay.com/', target='_blank', title='Shop Ebay.in and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59d888b8a7edc.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='http://www.shopclues.com/', target='_blank', title='Shop Shopclues.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a5159f3e658.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://paytm.com/', target='_blank', title='Shop Paytm.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a5160326647.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='http://www.yebhi.com', target='_blank', title='Shop Yebhi.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a516957bef0.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.infibeam.com/', target='_blank', title='Shop Infibeam.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a516ebabfa1.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='http://www.limeroad.com/', target='_blank', title='Shop Limeroad.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a5173241735.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.pepperfry.com/', target='_blank', title='Shop Pepperfry.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a517c7f3724.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='http://www.nykaa.com/', target='_blank', title='Shop Nykaa.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a51bebc851f.jpg');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='https://www.shoppersstop.com/', target='_blank', title='Shop Shoppersstop.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a51930bae39.png');")
                  span.info(style='background: none')
              .col-sm-3
                .seller_box
                  a(href='http://www.koovs.com/', target='_blank', title='Shop Koovs.com and Ship with Shoppre')
                    span.brand_logo(style="background-image: url('https://www.shoppre.com/uploads/stores/logo_59a519841acaf.png');")
                  span.info(style='background: none')
              .clearfix
            #fb.tab-pane.fade(role='tabpanel')
              .clearfix
            #featured.tab-pane.fade(role='tabpanel')
              .clearfix
          .ajaxload
