a.hover-success {
  &:hover {
    color: #27c24c !important;
  }
}

a.hover-danger {
  &:hover {
    color: #ed2424 !important;
  }
}

a.hover-info{
  &:hover {
    color: #5585B9 !important;
  }
}

.questions-block {

  .content {
    display: block !important;
    height: 60px !important;
    overflow: hidden;
  }

  .content.in {
    display: block !important;
    height: auto !important;
    transition: all 1s linear;
  }

  tr {
    > td {
      padding: 5px 0;
    }
  }

  ul {
    list-style-type: none;
    > li {
      margin-top: 10px;
    }
  }

  .question {
    font-style: oblique;
  }
}
