.modal-over.bg-white.cv-uploading
  .modal-center.animated.fadeInUp
    .text-center
      .thumb-lg.padding-5.m-b
        img.img-circle(src='/assets/images/loading.svg')
      p.h3.m-t.m-b.text-black-dker We're processing your data. This may take a while.
      span.input-group-btn
        a.btn.btn-success.padder-lg Continue Working
