.cv-uploading {
  z-index: 9999;
  .modal-center {
    left: 0;
    top: calc(50% - 100px)
  }

  .btn {
    font-size: 16px;
    color: #fff;

    &:hover, &:active, &:focus {
      background: #2ad552;
      border-color: #2ad552;
      color: #fff;
    }
  }

  .btn, .h3 {
    font-weight: 600;
  }
}
