<div class=""><div class="aHl"></div><div id=":14d" tabindex="-1"></div><div id=":vg" class="ii gt"><div id=":vl" class="a3s aXjCH m163b8c170d462023"><u></u>










  <div style="min-width:100%;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:12pt;letter-spacing:0.2px;background:#fcfcfc;margin:0;padding:0">

    <table border="0" cellspacing="0" width="100%" style="border-spacing:0;border-collapse:separate;width:100%;margin:0;padding:0;border:0">
      <tbody><tr class="m_95026204423278351email-wrapper-row" style="background:#ffffff;margin:0;padding:0;border:0">
        <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif"></td>
        <td class="m_95026204423278351wrapper" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-radius:3px;background:#f5f8fa;padding:0">

          <table class="m_95026204423278351header" style="border-spacing:0;border-collapse:separate;width:100%;margin:0;padding:0;border:0">
            <tbody><tr style="margin:0;padding:0;border:0">
              <td class="m_95026204423278351header-logo-bar" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-right-radius:3px;border-top-left-radius:3px;text-align:center;background:#102331;padding:20px 10px;border:0" align="center">
                <a href="https://fabric.io/" style="display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://fabric.io/&amp;source=gmail&amp;ust=1527909607118000&amp;usg=AFQjCNGfvwUHgyVSS4smeKLqV-5YwGha8w">
                  <img alt="" class="m_95026204423278351fabric-logo CToWUd" src="https://ci6.googleusercontent.com/proxy/kx3kBNtRTA47nBBYBApl9kdjvIoTnw_W9ZxFPbZySsVV4DRNSEwsXQo6Tg8ugWO23nt9WrxE0s7j93p74Kr1G75J7-NxZg9WFLxdrcLtYZfVPyf9RLAn483Fl8FZ_4RFxRNNTx1FlYBgIM958R8rjlDSBukATdqDhADm4A=s0-d-e1-ft#http://cdn-cf.fabric.io/assets/mailer/fabric/fabric-logo-white@2x-9687a9eba7acac1be6d1978b238dce3b.png" style="width:80px;min-height:22px;max-height:22px">
                </a>          </td>
            </tr>
            </tbody></table>
          {{{content}}}


          <table class="m_95026204423278351footer" style="border-spacing:0;border-collapse:separate;width:85%;text-align:center;font-size:13px;font-weight:300;color:#66757f;min-width:300px;max-width:400px;margin:0 auto;padding:20px 0 2em;border:0">
            <tbody><tr style="margin:0;padding:0;border:0">
              <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
                <a href="https://fabric.io/home?ref=answers-daily-digest" class="m_95026204423278351action-btn m_95026204423278351filled m_95026204423278351primary m_95026204423278351daily-digest-link" style="display:inline-block;color:white;font-weight:500;margin-top:0;padding-top:0.9em;padding-bottom:0.9em;border-radius:3px;text-decoration:none;font-size:90%;width:100%;margin-bottom:50px;background:#008bf3" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://fabric.io/home?ref%3Danswers-daily-digest&amp;source=gmail&amp;ust=1527909607118000&amp;usg=AFQjCNFKAwi9NWD5SqlSa8IbKepoHqLADQ">Go to dashboard</a>
              </td>
            </tr>

            <tr class="m_95026204423278351manage-prefs" style="margin:0;padding:0;border:0">
              <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-width:1px;border-top-color:#d7e2e9;border-top-style:solid;padding:20px 0 1em">
                <a href="https://fabric.io/settings/notifications" style="color:#66757f;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://fabric.io/settings/notifications&amp;source=gmail&amp;ust=1527909607118000&amp;usg=AFQjCNECAF7kIdhaWGwPN3noL1ZydBUNaQ">Manage notification preferences</a>
                <br>
                <br>
                <div>Google Inc.</div>
                <div><a href="https://maps.google.com/?q=1600+Amphitheatre+Parkway+%0D%0A+++++++++++++Mountain+View,+CA,+94043+USA&amp;entry=gmail&amp;source=g">1600 Amphitheatre Parkway</a></div>
                <div><a href="https://maps.google.com/?q=1600+Amphitheatre+Parkway+%0D%0A+++++++++++++Mountain+View,+CA,+94043+USA&amp;entry=gmail&amp;source=g">Mountain View, CA, 94043 USA</a></div>
              </td>
            </tr>
            </tbody></table>
        </td>
        <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif"></td>
      </tr>
      </tbody></table><div class="yj6qo"></div><div class="adL">
  </div></div><div class="adL">

  </div></div></div><div id=":tl" class="ii gt" style="display:none"><div id=":tk" class="a3s aXjCH undefined"></div></div><div class="hi"></div></div>
