.modal-header
  .modal-title
    .h4.text-info Upload Photos
      .close(ng-click='$ctrl.cancel()') ×
.modal-body
  .row(ng-if='$ctrl.photoRequestLength==1 && $ctrl.packagePhotos[0].type==2')
    .col-md-3.photo-left
      i.fa.fa-camera.big-cam.m-t-md
    .col-md-9
      .panel.b-a.ng-scope
        .panel-heading.b-b.b-light
          h4.font-bold.no-margin Basic Photos
            span INR 40
        .panel-body
          p View low-resolution photos taken of your package when it arrived at the Shoppre to confirm package cpntents
          a.btn.btn-success.text-u-c(ng-click='$ctrl.continueBasic()') Get Now
  .row(ng-if='$ctrl.photoRequestLength==1 && $ctrl.packagePhotos[0].type==1')
    .col-md-12
      .panel.b-a.ng-scope
        img(src='assets/images/logo.png')
  .row(ng-if='$ctrl.photoRequestLength==1 && $ctrl.packagePhotos[0].type==1')
    .col-md-3.photo-left
      i.fa.fa-camera.big-cam.m-t-md
    .col-md-9
      .panel.b-a.ng-scope
        .panel-heading.b-b.b-light
          h4.font-bold.no-margin Additional Photos
            span INR 500
        .panel-body
          p Order up 10 high-resolution photos of your content to confirm color, condition and item details
          a.btn.btn-success.text-u-c(ng-click='$ctrl.continueAdditional()') Request Now
  .row(ng-if='$ctrl.photoRequestLength==2')
    .col-md-12
      .basic-photo(ng-show='$ctrl.basicPhoto')
        .panel.b-a.ng-scope
          img(src='assets/images/logo.png')
        a.btn.btn-success.text-u-c.m-l-xs(ng-click='$ctrl.showStandardPhoto()') Standard Photo
      .advanced-photo(ng-show='$ctrl.standardPhoto')
        .panel.b-a.ng-scope
          img(src='assets/images/loyalty.png')
        a.btn.btn-success.text-u-c.m-l-xs(ng-click='$ctrl.showBasicPhoto()') Basic Photo
  .row(ng-if='$ctrl.basicRequest')
    .panel.b-a.ng-scope
      img(src='assets/images/logo.png')
    .panel.b-a.ng-scope
      img(src='assets/images/logo.png')
  .row(ng-if='$ctrl.basicRequest')
    .panel.b-a.ng-scope
      .panel-body
        .alert.alert-warning
          h4.text-center.no-margin
            i.fa.fa-info-circle.m-r-xs
            | Will be charged INR-50.00 Do you wish to continue?
          .text-center.m-t-md
            a.btn.btn-warning.text-u-c(ng-click='$ctrl.cancel()') Cancel
            a.btn.btn-success.text-u-c.m-l-xs(ng-click='$ctrl.requestBasic()') Continue

  .row(ng-if='$ctrl.additionalRequest' )
    .panel.b-a.ng-scope
      .panel-body
        .alert.alert-warning
          h4.text-center.no-margin
            i.fa.fa-info-circle.m-r-xs
            | Will be charged INR-500.00 Do you wish to continue?
          .text-center.m-t-md
            a.btn.btn-warning.text-u-c(ng-click='$ctrl.cancel()') Cancel
            a.btn.btn-success.text-u-c.m-l-xs(ng-click='$ctrl.requestAdvanced()') Continue
  .row
    div.col-md-12(ng-if='$ctrl.success') Success! Your request for standard photos has been submitted.
      | Your package is now in review by Shoppre team. You will be notified by customer service when your photos are ready to view.
