div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only(style="min-height:600px")
      h1.m-l-md.font-thin.h3
        span Transaction PIN
      hr
      form.form.form-validation.form-horizontal.wrapper-md(name="TransactionForm" ng-submit='$ctrl.create()')
        .row
          // Form Block
          .col-md-7.col-sm-12.col-xs-12
            // Form Items
            .row
              label.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-black
                | Set Transaction PIN (4 digit transaction PIN)
                span.text-danger *
                  input.form.form-control(type='number' min="1000" max="9999" placeholder='eg. 8574' ng-model='$ctrl.data.transaction_pin' required)
            .line.line-dashed.b-b.line-lg.pull-in
            .row
              .col-md-4
                button.btn.btn-primary.pull-left(ng-disabled='TransactionForm.$invalid', type='submit')
                  | &nbsp;&nbsp;Save

