.h2.pull-right.p-xs.m-r-sm.pointer(style="z-index:1;position:absolute;right:0" ng-click='$ctrl.$uibModalInstance.close({ isVisited: false })') ×
.modal-body
  .col-md-12.no-padder.flex.h-full(style="margin:auto;float:none")
    .col-xs-12.wrapper-lg.flex(style="float:none;margin:auto")
      .col-xs-6.no-padder: .hbox: .flex-box
        .h3.m-b-sm(style='font-weight:600') {{$ctrl.data.title}}
        .h4.wrapper-sm(style='font-size:15px;') {{$ctrl.data.text}}
        a.btn.btn-success(href='{{$ctrl.data.url}}' target='_blank' ng-click='$ctrl.$uibModalInstance.close({ isVisited: true })') Visit
      .col-xs-6.no-padder
        .col-xs-12.no-padder(style='margin:auto')
          img.img-responsive.col-xs-12.no-padder(src='{{$ctrl.data.image}}')
