.modal-header
  .modal-title
    .h4.text-info Search Database
      .close(ng-click='$ctrl.$uibModalInstance.dismiss("close")') ×
form
  .modal-body
    .text-center
      img(src='/assets/images/thumb.svg' style='width: 100px;')
    h3.text-center(style='color: #109d57;') Thank you for showing interest in our Database.
    p.text-center Our team will contact you shortly. You can also get in touch with us at
    p.text-center(style='color: #3878da;') partner@quezx.com
