i.fa.fa-lg.fa-bell-o
span.visible-xs-inline &nbsp; Notifications
i.badge.badge-sm.up.bg-danger.lter.pull-right-xs(
  ng-if='$ctrl.counts.recent_count' ng-bind='$ctrl.counts.recent_count'
)
i.badge.badge-sm.up.bg-light.pull-right-xs(
  ng-if='!$ctrl.counts.recent_count && $ctrl.counts.count'
  ng-bind='$ctrl.counts.count'
)
