div.bg-white.lter.page-profile(ng-init="TermsAndConditions.flag=false; App.fullPage=true")
  div(style="position: relative")
    .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/company.svg) top center / 60% 60% no-repeat #F0F3F4; background-position: right 50% top 50%; height: 100%;" ng-hide="TermsAndConditions.flag")
    .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/agreement.svg) top center / 60% 60% no-repeat #DCECED; background-position: right 50% top 50%; height: 100%;" ng-if="TermsAndConditions.flag")
    .col-sm-8.col-sm-offset-4.bg-white(ng-hide="TermsAndConditions.flag" style="background-color: #fff; height: 100%; position: fixed; overflow-y: scroll;")
      form.form.form-validation.form-horizontal.wrapper-md(name="companyDataForm" style="padding-top:0!important" ng-submit='TermsAndConditions.continue()')
        .col-sm-offset-1.col-sm-6(style='padding-top: 4%')
          h1.text-black(style='border-bottom: 1 px;') Please enter your
            b.text-bold(style='color: green; font-weight: 600') &nbsp;Company Details
          hr(style='width: 800ps;')
          h5 Name Details will be used in the agreement / Invoices
          div(ng-hide="TermsAndConditions.flag")

            .row
              .col-md-12.col-sm-12.col-xs-12.m-t-xs
                label.col-xs-12.input-group
                  | Company Registered Name
                  span.text-danger *
                  input.form.form-control(type='text' placeholder='eg. Company Name' ng-model='TermsAndConditions.data.company_reg_name' q-text-maxlength="60" required )
                  div(style="font-size:12px") * Registered Company Name/ Partnership (where applicable). Else Proprietor Name

            .row
              .col-md-12.col-sm-12.col-xs-12.m-t-xs
                label.col-xs-12.input-group
                  | Company Registered Address
                  span.text-danger *
                  textarea.form.form-control(placeholder='eg. Company Registered Address' rows=5 ng-model='TermsAndConditions.data.reg_address' q-text-maxlength="600" required)
                  div(style="font-size:12px") * Address of Registered Company Name/ Partnership (where applicable). Else Proprietor Address

            .row
              .col-md-12.col-sm-12.col-xs-12.m-t-xs
                label.col-xs-12.input-group Company Corporate Address
                  span.text-danger *
                  textarea.form.form-control(placeholder='eg. Company Registered Address' rows=5 ng-model='TermsAndConditions.data.corp_address' q-text-maxlength="600" required)

            .row
              .col-md-12.col-sm-12.col-xs-12.m-t-xs
                label.col-xs-12.input-group City (Corporate Address)
                  span.text-danger *
                  region-suggest(
                    field='companyDataForm.region_id'
                    region-id='TermsAndConditions.data.region_id'
                    region-name='TermsAndConditions.data.Region.region'
                    is-required='true'
                  )

            button.btn.btn-success.m-t-xs.m-b-xxl(type='submit' ng-disabled="companyDataForm.$invalid" ) Continue
            br
            br
            br

    .col-sm-8.col-sm-offset-4(ng-if="TermsAndConditions.flag" style="background-color: #fff; height: 100%;position: fixed; overflow-y: scroll;")
      .col-sm-12(style='padding-top: 100px;')
        iframe( agreement-iframe  style="margin:auto;display:inherit;border:1px solid #ccc" width="70%" height="900px" ng-src="{{TermsAndConditions.trustSrc(TermsAndConditions.AGREEMENT_URL)}}")
        div.clearfix
        div(ng-show="TermsAndConditions.flag" style="margin:10px auto auto auto;display:inherit;width:80%")
          div
            input(type="checkbox" id="terms" ng-model="accepted")
            lable.font-bold(for="terms" ng-click="accepted=!accepted" title="Accept Agreement" uib-tooltip="Accept Agreement") &nbsp;&nbsp;I accept the Terms and Conditions
            br
            button.btn.btn-info.pull-right(ng-init="accepted=false" ng-disabled="!accepted || TermsAndConditions.ui.loading" ng-click="TermsAndConditions.accept()")
              i.fa.fa-circle-o-notch.fa-spin(ng-if='TermsAndConditions.ui.loading')
              span(ng-bind='TermsAndConditions.ui.loading ? "Accepting" : "Accept"')

        br
        br
        br
        br
