.manage-list {
  .border-facet:hover {
    color: #000;
  }

  .reset-hover:hover {
    text-decoration: underline;
    color: $brand-info;
  }

  .manage-list {
    .m-l-large {
      margin-left: 240px
    }
    .none-p-b {
      padding-bottom: 0 !important
    }
    .none-p-t {
      padding-top: 0 !important
    }
  }

  .allocate-user {
    background: #6792C0;
    color: #FFFFFF;
    i {
      visibility: hidden;
    }

    &:hover i {
      visibility: visible;
    }
  }
  .deallocate-user {
    background: #8CC64B;
    color: #FFFFFF;
    i {
      visibility: hidden;
    }

    &:hover i {
      visibility: visible;
    }
  }
}

