div
  .hbox
    h3 Change Password
    .wrapper-md.bg-white-only(style="min-height:600px")
      form.form.form-validation.form-horizontal.wrapper-md(
        name="changePasswordForm"
        novalidate
        ng-submit='$ctrl.ChangePassword(changePasswordForm)'
        autocomplete='off'
      )
        .row
          .col-md-12.col-sm-12.col-xs-12
            .col-md-7
              .row
                .col-md-12
                  label.col-md-3.col-sm-5.col-xs-12.control-label Current Password *
                  .col-sm-6.col-sm-7.col-xs-12
                    input.form-control(type='password', name='old_password', placeholder='Enter Current Password' ng-model='$ctrl.data.old_password' required)
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$invalid') Please Enter existing password
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && !changePasswordForm.old_password.$dirty && changePasswordForm.old_password.$invalid') Please Enter existing password
              .line.pull-in(style='margin: 5px 0;')
              .row
                .col-md-12
                  label.col-md-3.col-sm-5.col-xs-12.control-label New Password *
                  .col-sm-6.col-sm-7.col-xs-12
                    input.form-control(type='password', name='password', placeholder='Enter New Password' ng-model='$ctrl.data.password' required)
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && changePasswordForm.password.$dirty && changePasswordForm.password.$invalid') Please Enter New Password
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && !changePasswordForm.password.$dirty && changePasswordForm.password.$invalid') Please Enter New Password
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && $ctrl.data.password.length < 6') Please Enter minimum six character
              .line.pull-in(style='margin: 5px 0;')
              .row
                .col-md-12
                  label.col-md-3.col-sm-5.col-xs-12.control-label Confirm Password *
                  .col-sm-6.col-sm-7.col-xs-12
                    input.form-control(type='password', name='confirm_password', placeholder='Re-Enter New Password' ng-model='$ctrl.data.confirm_password' required)
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && changePasswordForm.confirm_password.$dirty && changePasswordForm.confirm_password.$invalid') Please Re-Enter New Password
                    b.wrapper-xs.text-xs.text-danger(ng-show='$ctrl.clickChange && !changePasswordForm.confirm_password.$dirty && changePasswordForm.confirm_password.$invalid') Please Re-Enter New Password
                    span(ng-show="$ctrl.clickChange && changePasswordForm.old_password && changePasswordForm.confirm_password && changePasswordForm.old_password.$dirty && $ctrl.data.password !== $ctrl.data.confirm_password")
                      b.wrapper-xs.text-xs.text-danger New password and confirm password does not match !
        .row.col-sm-4.col-sm-offset-2.no-padder
          h4.text-danger(ng-bind="$ctrl.error.message")
          button.btn.btn-success(type='submit')
            i.fa.fa-check-circle-o.m-r-sm
            span.text-white(ng-if='!$ctrl.submitting') Change Password
            span(ng-if='$ctrl.submitting')
              i.fa.fa-spin.fa-circle-o-notch
              span.text-white &nbsp;&nbsp;Submitting...
