//- list
ul.nav.navbar-nav.navbar-left
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs Navigation
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.packages')
    i.fa.fa-dashboard.text-white
    span DASHBOARD
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='packages.index({bucket: "All"})')
    i.fa.fa-users.text-white
    span PACKAGES
  li.hide.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv(uib-dropdown-toggle ui-sref='orders.list({status: "All"})')
      i.fa.fa-list-alt.text-white
      span ORDERS
  li.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv(uib-dropdown-toggle ui-sref='shipments.index({ status: "All" })')
      i.fa.fa-list-alt.text-white
      span SHIPMENTS
  li.hide.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='loyaltypoints.rewards')
    i.fa.fa-users.text-white
    span LOYALTY POINTS
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.createShipmentRequest')
    i.fa.fa-users.text-white
    span CREATE SHIPMENT REQUEST
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.schedulePickup')
    i.fa.fa-users.text-white
    span SCHEDULE PICKUP
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.shipmentConfirm')
    i.fa.fa-users.text-white
    span CONFIRM SHIP REQUEST
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.response')
    i.fa.fa-users.text-white
    span Response
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.shipRequestResponse')
    i.fa.fa-users.text-white
    span ShipRequestResponse
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.retryPayment')
    i.fa.fa-users.text-white
    span RETRY PAYMENT



