//- list
ul.nav.navbar-nav.navbar-left
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs Navigation
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.packages')
    i.fa.fa-dashboard.text-white
    span DASHBOARD
  li.hide.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv(uib-dropdown-toggle ui-sref='orders.list({status: "All"})')
      i.fa.fa-list-alt.text-white
      span ORDERS



