// list
ul.nav
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span Navigation

  li
    a.auto(ui-sref='dashboard.index')
      i.fas.fa-th-large.text-white
      span.font-bold Dashboard

  li(ng-class='$ctrl.active === "personal-shopper" ? "active" : ""')
    a.text-white.auto(href='' ng-click='$ctrl.toggle("personal-shopper")')
      span.pull-right.text-muted
        i.fa.fa-fw.fa-angle-right.text
      i.fas.fa-shopping-cart.text-white
      span.font-bold Personal Shopper
    ul.nav.nav-sub.dk
      li(ui-sref-active='active')
        a(ui-sref='personalShopper.workFlow')
          span How It works
      li(ui-sref-active='active')
        a(ui-sref='personalShopper.create')
          span Place an Order
      li(ui-sref-active='active')
        a(ui-sref='personalShopper.index')
          span Order History

  li.line.dk
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    span Your Stuff
  li
    a(ui-sref='users.profile')
      i.fas.fa-user-circle.text-white
      //b.badge.bg-success.pull-right 30%
      span.font-bold Profile
  li
    a(ui-sref='users.documents')
      i.fas.fa-id-card.text-white
      span.font-bold Documents





