//- list
ul.nav.navbar-nav.navbar-left
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs Navigation
  li.nav-menu-item(ui-sref-active='active'): a(ui-sref='dashboard.index')
    i.fas.fa-chart-line.text-white
    span.font-bold  Dashboard
  li.nav-menu-item(ui-sref-active='active'): a(ui-sref='packages.index')
    i.fas.fa-cubes.text-white
    span.font-bold  Packages

  li.nav-menu-item(ui-sref-active='active')
    a.font-bold(
      title='Alert Shoppre about my incoming Packages (Optional)'
      ui-sref='packages.create'
    )
      i.fas.fa-inbox-in.text-white
      span.font-bold Incoming Package

  li.nav-menu-item(ui-sref-active='active')
    a(
    ui-sref='shipRequests.index'
    )
      i.fas.fa-clone.text-white
      span.font-bold  Shipment Queue
  li.nav-menu-item(ui-sref-active='active')
    a(target='_blank' ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/personal-shopper')
      i.fas.fa-shopping-cart.text-white
      span.font-bold  Personal Shopper

  li.nav-menu-item(ui-sref-active='active')
    a(target='_blank' ng-href='{{App.URLS.PREFIX}}www.{{App.URLS.DOMAIN}}/schedule-pickup?uid={{App.userinfo.id}}')
      i.fas.fa-truck-pickup.text-white
      span.font-bold  Schedule Pickup
  li.nav-menu-item(ui-sref-active='active')
    a(ui-sref='shipRequests.history')
      i.fas.fa-history.text-white
      span.font-bold  Shipment History
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/favorite-stores')
      i.fas.fa-store.text-white
      span.font-bold  My Favourite Store
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/loyalty-points')
      i.fas.fa-gift.text-white
      span.font-bold  My Loyalty Points
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/refer-a-friend')
      i.fas.fa-user-friends.text-white
      span.font-bold  Refer a Friend
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/country-guide')
      i.fas.fa-atlas.text-white
      span.font-bold  Country Guides
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/browse-categories')
      i.fa.fa-list-alt.text-white
      span.font-bold  Brands you love
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='{{App.URLS.PREFIX}}www.{{App.URLS.DOMAIN}}/services')
      i.fas.fa-globe-americas.text-white
      span.font-bold  Our Services
  li.nav-menu-item(ui-sref-active='active')
    a(ui-sref='users.address-index')
      i.fas.fa-address-book.text-white
      span.font-bold  Address Book
  li.nav-menu-item(ui-sref-active='active')
    a(ng-href='https://blog.{{App.URLS.DOMAIN}}')
      i.fab.fa-blogger.text-white
      span.font-bold  Blog




