//- list
ul.nav.navbar-nav.navbar-left
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs Navigation
  li.nav-menu-item(ui-sref-active='active'): a.hv(ui-sref='dash.packages')
    i.fa.fa-dashboard.text-white
    span DASHBOARD

  li.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv( target='_blank' ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/personal-shopper')
      i.fa.fa-list-alt.text-white
      span PERSONAL SHOPPER

  li.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv(ng-href='{{App.URLS.PREFIX}}www.{{App.URLS.DOMAIN}}/schedule-pickup?uid={{App.userinfo.id}}')
      i.fa.fa-list-alt.text-white
      span SCHEDULE PICKUP
  li.nav-menu-item(ui-sref-active='active' uib-dropdown)
      a.hv.custom-dropdown-toggle(uib-dropdown-toggle ng-class='{"hv": $ctrl.getPositionState()}')
        i.fa.fa-list-alt.text-white
        span MORE
        b.text-xs.utf8-caret ▼
      ul.dropdown-menu.navbar-dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='single-button' style='height: auto !important;top: auto !important;left: auto !important;')
        li(role='menu')
          a.hv(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/shipping/history') SHIPMENT HISTORY
        li(role='menu')
          a.hv(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/favorite-stores') MY FAVOURITE STORE
        li(role='menu')
          a.hv(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/loyalty-points') MY LOYALTY POINTS
        li(role='menu')
          a.hv(ng-href='{{App.URLS.PREFIX}}myaccount.{{App.URLS.DOMAIN}}/refer-a-friend') REFER A FRIEND


