.modal-header
  .modal-title
    .h4.text-info View Photos
      .close(ng-click='$ctrl.$uibModalInstance.dismiss("close")') ×

div.m-t-xl.no-margin
  .hbox
    .clearfix
    img(src='https://pcw-ssl.cdn.dixons.com/css/themes/ucms/category/mobile-phones/img/main-hero.jpg', alt='Smiley face', height='500', width='500')
