.promo-banner.countries {
  background: url('/public/app/img/countries/banners/images1.jpeg') 50% 50% no-repeat #776e64;
  background-size: cover;
}

@media screen and (max-width: 768px) {
}

.promo-banner {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 1024px) {
}

.promo-banner {
  margin-top: -1px;
  position: relative;
}

.promo-banner {

  background: url("/public/app/img/countries/banners/images2.jpeg") 50% 50% no-repeat #776e64;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  padding: 65px 0 47px;
}

.page-frame {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.section-select-country.left-content {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 56.89655%;
}

div {
  display: block;
}

.promo-banner .promo-banner-inner {
  position: relative;
}

/*@media screen and (max-width: 768px){}*/
/*@media screen and (max-width: 1160px){}*/
div {
  display: block;
}

@media screen and (max-width: 768px) {
}

/*.page-frame {*/
/*margin-left: 15px;*/
/*margin-right: 15px;*/
/*}*/
/*@media screen and (max-width: 1160px){}*/
/*.page-frame {*/
/*margin-left: 20px;*/
/*margin-right: 20px;*/
/*}*/
/*.page-frame {*/
/*max-width: 1160px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/
div {
  display: block;
}

.no-touch body {
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
}

.breadcrumb {
  display: none;
}

.breadcrumb {
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  font-family: Avenir W01, sans-serif;
  font-size: .55em;
  font-weight: 500;
}

ol, ul {
  margin: 20px 0 20px 15px;
  padding-left: 15px;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

@media screen and (max-width: 768px) {
}

.section-select-country {
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

/*@media screen and (max-width: 768px){}*/
/*.page-frame {*/
/*margin-left: 15px;*/
/*margin-right: 15px;*/
/*}*/
/*@media screen and (max-width: 1160px){}*/
/*.page-frame {*/
/*margin-left: 20px;*/
/*margin-right: 20px;*/
/*}*/
/*.page-frame {*/
/*max-width: 1160px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/
/*.section-select-country .left-content {*/
/*float: none;*/
/*width: 80%;*/
/*margin: 0 auto 20px;*/
/*}*/

.left-content {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 56.89655%;
}

.heading2, h2 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.3;
}

.heading1, .heading2, h1, h2 {
  font-family: Avenir W01, sans-serif;
  color: #4b4b4b;
}

.field-wrapper {
  margin-top: -20px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40%;
}

@media screen and (max-width: 768px) {
}

.section-select-country
.section-select-country.field-wrapper {
  margin-top: -20px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40%;
}

.field-wrapper {
  position: relative;
  margin-bottom: 20px;
  font-family: Avenir W01, sans-serif;
  font-size: .8em;
}

.field-select {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-family: Avenir W01, sans-serif;
  font-size: 1.125em;
  font-weight: 800;
  text-align: left;
  vertical-align: middle;
  color: #1f1f1f;
  line-height: 1.3;
  height: 40px;
  border: 1px solid #c0c5c9;
  border-radius: 5px;
  padding: 6px 13px 6px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e6ebef;
  background: #e6ebef url("/public/app/img/countries/banners/images3.jpeg") no-repeat 100% 50%;
}

.button, select {
  text-transform: none;
}

.button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.internal-list-box {
  background-color: buttonface;
}

.internal-list-box {
  overflow: visible !important;
}

.select {
  border-radius: 0px;
  border-color: rgb(169, 169, 169);
}

.select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
}

@media screen and (max-width: 768px) {
}

.section-countries {
  padding: 20px 0;
}

.section-countries {

  background: url("/public/app/img/countries/banners/images1.jpeg") 50% 50% no-repeat #f2f2f2;
  background-size: cover;
}

/*@media screen and (max-width: 768px){}*/
/*.page-frame {*/
/*margin-left: 15px;*/
/*margin-right: 15px;*/
/*}*/
/*@media screen and (max-width: 1160px){}*/
/*.page-frame {*/
/*margin-left: 20px;*/
/*margin-right: 20px;*/
/*}*/
/*.page-frame {*/
/*max-width: 1160px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

@media screen and (max-width: 768px) {
}

.countries-container {
  margin-left: 0;
}

.countries-container {
  font-family: Avenir W01, sans-serif;
  margin-left: -2.3%;
}

@media screen and (max-width: 768px) {
}

.countries-container .countries-column {
  margin-bottom: 15px;
  padding: 0;
  width: 100%;
}

.countries-container .countries-column {
  float: left;
  margin-bottom: 30px;
  padding-left: 2.3%;
  width: 17.7%;
}

@media screen and (max-width: 768px) {
}

.countries-container .country {
  float: left;
  margin: 5px 3.44828%;
  margin-bottom: 10px;
  width: 43%;
}

.countries-container .country {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e7e7e7;
  display: block;
  height: 100%;
  margin-bottom: 29px;
  width: 100%;
}

.a {
  transition: color .15s;
  text-decoration: none;
  cursor: pointer;
  color: #0e689c;
}

.a {
  background-color: transparent;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.countries-container .country-flag {
  display: table;
}

.figure {
  margin: 0;
}

.figure {
  margin: 1em 40px;
}

.article, aside, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

figure {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

@media screen and (max-width: 900px) {
}

.countries-container .country .country-flag .flag-holder {
  min-height: 53px;
  width: 40px;
}

.countries-container .country-flag .flag-holder {
  min-height: 82px;
  width: 62px;
}

@media screen and (max-width: 768px) {
}

.countries-container .country .country-name {
  font-size: .8em;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
}

.countries-container .country .country-name {
  font-size: .6em;
}

.countries-container .country-name {
  transition: color .15s;
  color: #0f689b;
  display: table-cell;
  font-size: .8em;
  font-weight: 600;
  padding: 0 10px;
  vertical-align: middle;
  width: 100%;
}

.find-country-guide {
  font-family: Avenir W01, sans-serif;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 1160px) {
}

.page-frame {
  margin-left: 20px;
  margin-right: 20px;
}

.page-frame {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.find-country-guide p {
  display: inline-block;
  font-weight: 900;
  padding-right: 20px;
}

.find-country-guide .field-wrapper {
  display: inline-block;
  width: 355px;
}

.field-wrapper {
  position: relative;
  margin-bottom: 20px;
  font-family: Avenir W01, sans-serif;
  font-size: .8em;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.hp-signup {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1160px) {
}

.page-frame {
  margin-left: 20px;
  margin-right: 20px;
}

.page-frame {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.hp-signup h2 {
  color: #70b1c7;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.25;
  margin: 0 0 .5em;
}

.heading2, h2 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.3;
}

.heading1, .heading2, h1, h2 {
  font-family: Avenir W01, sans-serif;
  color: #4b4b4b;
}

.hp-signup .btn {
  min-width: 225px;
  font-weight: 900;
}

.btn {
  font-weight: 900;
  background: #81bc00;
  border-color: #81bc00;
}

.btn, .btn-action, .btn-alternative, .btn-inverse, .btn-secondary, .btn-shipping-benefit, .btn-shopping-benefit, .form-search .btn-search, .header-search .btn-search {
  transition: .15s;
  box-sizing: border-box;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  font-family: Avenir W01, sans-serif;
  font-size: .65em;
  font-weight: 800;
  padding: 0 1.92308em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  text-shadow: none;
}

.a {
  transition: color .15s;
  text-decoration: none;
  cursor: pointer;
  color: #0e689c;
}

.a {
  background-color: transparent;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.hp-signup {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.no-touch body {
  text-rendering: optimizeLegibility;
}

.h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.select {
  border-radius: 5px;
}

.input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

.input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}

.div {
  display: block;
}

.body {
  height: 100%;
  margin: 0;
  color: #4b4b4b;
  font-size: 20px;
  font-family: Chaparral W01, serif;
  font-weight: 400;
  line-height: 1.3;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-animation: a infinite 1s;
}
