/*Countries tab*/
.d-inline-block {
  display: inline-block !important;
}

.col-8 {
  width: 66.66667%;
}

.pl-4 {
  padding-left: 24px !important;
}

.float-right {
  float: right !important;
}

.col-4 {
  width: 33.33333%;
}

.repo-list {
  position: relative;
}

.d-block {
  display: block !important;
}

.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.width-full {
  width: 100% !important;
}

.border-bottom {
  border-bottom: 1px #e1e4e8 solid !important;
}

.col-12 {
  width: 100%;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.Box-body:last-of-type {
  margin-bottom: -1px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Box-body {
  padding: 16px;
  border-bottom: 1px solid #e1e4e8;
}

.Box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  min-width: 1020px;
  word-wrap: break-word;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.mr-2 {
  margin-right: 30px !important;
}

.mr-l {
  margin-left: 7px;
!important;
}

.topic-tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
}

a {
  color: #0366d6;
  text-decoration: none;
}

.d-block {
  display: block !important;
}

.text-gray-dark {
  color: #24292e !important;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a {
  background-color: transparent;
}

.mb-3 {
  margin-top: 16px !important;
}

.muted-link {
  color: #586069 !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.ml-0 {
  margin-left: 1px !important;
}

.topics-row-container {
  height: 30px;
  overflow: hidden;
}

.d-inline-flex {
  display: inline-flex !important;
}

.f6 {
  font-size: 12px !important;
}

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.flex-items-center {
  align-items: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.col-9 {
  width: 75%;
}

.topic-tag {
  display: inline-block;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}
