extends ../layout
block content
  head
    title '#{title}'
    meta(name='description', content= '#{meta_description}')
    meta(property='og:title', content='#{meta_title}')

  section.faq_content
  .container
    .col-sm-8.col-sm-offset-2
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default
          .panel-heading(role='tab')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#cat_1', aria-expanded='true')
                | Registration and Membership
          #cat_1.panel-collapse.collapse
            .panel-body.nested
              .panel
                .panel-heading.nested(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', href='#faq_5', aria-expanded='true')
                      | Do you provide a Membership Plan?
                #faq_5.panel-collapse.collapse
                  .panel-body
                    p
                      span(style='font-weight: 400;')
                        | No, we do not have a membership plan. Pay ONLY when you choose to use any of our services. Find out our Shipping Rates and other Service charges
                        a(href='https://www.shoppre.com/pricing')
                          em  
                      a(href='https://www.shoppre.com/pricing')
                        em
                          span(style='font-weight: 400;') here
                          span(style='font-weight: 400;') .
              .panel
                .panel-heading.nested(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', href='#faq_6', aria-expanded='true')
                      | Is the address provided by Shoppre, a PO Box address?
                #faq_6.panel-collapse.collapse
                  .panel-body
                    p(style='padding-left: 30px;')
                      span(style='color: #000000;')
                        strong No.
                        span(style='font-weight: 400;')
                          | Shoppre provides you with a complete street address with a Unique Locker number, not a P.O. Box.
                    p(style='padding-left: 30px;')
                      span(style='color: #000000;')
                        span(style='font-weight: 400;') Sample  
                        span(style='font-weight: 400;') Address:
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Name
                          | :
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Address (line 1)
                          | :
                      em
                        span(style='font-weight: 400;')  # XXXXX-XXX
                      em
                        span(style='font-weight: 400;')
                          | (
                          span(style='color: #999999;') Enter your Unique Personal Locker number here
                          | )
                      em
                        span(style='font-weight: 400;') ,
                      em
                        span(style='font-weight: 400;') 1st Floor, #181,
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Address (line 2)
                          | :
                      em
                        span(style='font-weight: 400;')  2nd Cross Rd, 7th Main, Koramangala 1st Block
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') City
                          | :
                      em
                        span(style='font-weight: 400;')  Bengaluru
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Landmark (Optional)
                          | :
                      em
                        span(style='font-weight: 400;')  Near to Seema English Nursery School
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') State/Province
                          | :
                      em
                        span(style='font-weight: 400;')  Karnataka
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Country
                          | :
                      em
                        span(style='font-weight: 400;')  India
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Pin Code
                          | :
                      em
                        span(style='font-weight: 400;')  560034
                    p(style='padding-left: 90px;')
                      em
                        span(style='font-weight: 400;')
                          span(style='text-decoration: underline;') Phone Number
                          | :
                      em
                        span(style='font-weight: 400;')  0091-9148357733
                    p(style='padding-left: 90px;')  
                    p(style='padding-left: 30px;')
                      span(style='font-weight: 400;') This address can be viewed on your customer dashboard, once you
                      a(href='https://myaccount.shoppre.com/login')
                        span(style='font-weight: 400;') login
                      span(style='font-weight: 400;') .
                    p(style='padding-left: 30px;')
                      span(style='font-weight: 400;')
                        | Majority of the  Indian shipping companies will be able to deliver to your address, either for free of cost or a small fee for domestic shipment will be taken.
                    p(style='padding-left: 30px;')
                      span(style='font-weight: 400;')
                        | Please ensure all your shipments include the address of the Shoppre distribution center and your unique Locker number. Any packages shipped to Shoppre with an incomplete or inaccurate address will be delayed. Packages requiring review for incomplete or incorrect addresses will incur an INR 200 per package. This fee can be viewed under the Package level charges (under Address Correction).
                .panel
                  .panel-heading.nested(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', href='#faq_114', aria-expanded='true')
                        | Why was my Registration Unsuccessful?
                  #faq_114.panel-collapse.collapse
                    .panel-body
                      p
                        span(style='font-weight: 400;')
                          | If you are having difficulty registering for with Shoppre, please follow these steps:
                      p(style='padding-left: 30px;')
                        span(style='font-weight: 400;') 1. Clear the cookies on your Web browser.
                      p(style='padding-left: 30px;')
                        span(style='font-weight: 400;')
                          | 2. Make sure your Web browser is up to date. Out of date browsers may have functionality issues.
                      p
                        span(style='font-weight: 400;') If you continue to experience problems, please
                        a(href='https://www.shoppre.com/contact')
                          span(style='text-decoration: underline;')
                            span(style='font-weight: 400;') Contact Us
                        span(style='font-weight: 400;')  here. Select
                        em
                          span(style='font-weight: 400;') Registration Questions
                        span(style='font-weight: 400;')  as the topic of your email, and include the following information:
                      p(style='padding-left: 30px;')
                        span(style='font-weight: 400;') 1. Your Full Name
                      p(style='padding-left: 30px;')
                        span(style='font-weight: 400;') 2. Type of Web browser are you using
                      p(style='padding-left: 30px;')
                        span(style='font-weight: 400;') 3. Country you are applying from
                .panel.panel-default
                  .panel-heading(role='tab')
                    h4.panel-title
                      a(role='button', data-toggle='collapse', data-parent='#accordion', href='#cat_2', aria-expanded='true')
                        | Account Information
                  #cat_2.panel-collapse.collapse
                    .panel-body.nested
                      .panel
                        .panel-heading.nested(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', href='#faq_7', aria-expanded='true')
                              | How do I use my  address?
                        #faq_7.panel-collapse.collapse
                          .panel-body
                            p
                              span(style='font-weight: 400;')
                                | Enter your Shoppre address as the "Shipping Address" as shown below, whenever you buy from any Indian online stores.
                            p
                              span(style='text-decoration: underline;')
                                em
                                  span(style='font-weight: 400;') Name:
                              em
                                span(style='font-weight: 400;') <First Name> <Last Name>
                            p(style='text-align: justify; padding-left: 30px;')
                              em
                                span(style='font-weight: 400;')
                                  span(style='text-decoration: underline;') Address (line 1)
                                  | :
                              em
                                span(style='font-weight: 400;')  # XXXXX-XXX
                              span(style='color: #999999;')
                                em
                                  span(style='font-weight: 400;') (Enter your Unique Personal Locker number here)
                              em
                                span(style='font-weight: 400;') ,
                              em
                                span(style='font-weight: 400;') 1st Floor, #181
                            p(style='text-align: justify; padding-left: 30px;')
                              span(style='text-decoration: underline;')
                                em
                                  span(style='font-weight: 400;') Address (line 2):
                              em
                                span(style='font-weight: 400;')  2nd Cross Rd, 7th Main, Koramangala 1st Block
                            p(style='text-align: justify; padding-left: 30px;')
                              span(style='text-decoration: underline;')
                                em
                                  span(style='font-weight: 400;') City:
                              em
                                span(style='font-weight: 400;')  Bengaluru
                            p(style='text-align: justify; padding-left: 30px;')
                              em
                                span(style='font-weight: 400;')
                                  span(style='text-decoration: underline;') Landmark (Optional)
                                  | :
                              em
                                span(style='font-weight: 400;')  Near to Seema English Nursery School
                            p(style='text-align: justify; padding-left: 30px;')
                              em
                                span(style='font-weight: 400;')
                                  span(style='text-decoration: underline;') State/Province
                                  | :
                              em
                                span(style='font-weight: 400;')  Karnataka
                            p(style='text-align: justify; padding-left: 30px;')
                              span(style='text-decoration: underline;')
                                em
                                  span(style='font-weight: 400;') Country:
                              em
                                span(style='font-weight: 400;')  India
                            p(style='text-align: justify; padding-left: 30px;')
                              span(style='text-decoration: underline;')
                                em
                                  span(style='font-weight: 400;') Pin Code:
                              em
                                span(style='font-weight: 400;')  560034
                            p(style='text-align: justify; padding-left: 30px;')
                              em
                                span(style='font-weight: 400;')
                                  span(style='text-decoration: underline;') Phone Number
                                  | :
                              em
                                span(style='font-weight: 400;')  0091-9148357733
                            p
                              span(style='font-weight: 400;')
                                | Or, if the seller asks you for the address in a single box, you can write it like this:
                            p(style='padding-left: 30px;')  
                            p(style='padding-left: 30px;')
                              em
                                span(style='font-weight: 400;') # XXXXX-XXX
                              em
                                span(style='font-weight: 400;')
                                  | (
                                  span(style='color: #999999;') enter your Unique Personal Locker number here)
                                  | ,
                              em
                                span(style='font-weight: 400;')
                                  | 1st Floor, # 181, 2nd Cross Rd, 7th Main, Koramangala 1st Block, Near to Seema English Nursery School, Bengaluru - 560034, Phone number: 0091-9148357733
                            p
                              span(style='font-weight: 400;') To find your address,
                              span(style='font-weight: 400;')
                                a(href='https://myaccount.shoppre.com/register') sign
                                |  in
                              span(style='font-weight: 400;')  to your account, and it will be on your dashboard.
                            p
                              span(style='font-weight: 400;')
                                | You may also be asked for a “billing address" when paying online sellers. Use the home country address associated with your credit card.
                            p
                              span(style='font-weight: 400;')
                                | Majority of the  Indian shipping companies will be able to deliver to your address, either for free of cost or a small fee for domestic shipment will be taken.
                            p
                              span(style='font-weight: 400;')
                                | Please ensure all your shipments include the address of the Shoppre distribution center and your unique Locker number. Any packages shipped to Shoppre with an incomplete or inaccurate address will be delayed. Packages requiring review for incomplete or incorrect addresses will incur an INR 200 per package.
                      .panel
                        .panel-heading.nested(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', href='#faq_8', aria-expanded='true')
                              | Can I receive mail and merchandise for names other than my own?
                        #faq_8.panel-collapse.collapse
                          .panel-body
                            p
                              span(style='font-weight: 400;')
                                | Yes. You can add up to 5 names for FREE to receive packages or mail on your account. This is a great way for your family, friends, and co-workers to save on shipping costs.
                      .panel
                        .panel-heading.nested(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', href='#faq_105', aria-expanded='true')
                              | How does my Shoppre online account work?
                        #faq_105.panel-collapse.collapse
                          .panel-body
                            p
                              span(style='font-weight: 400;')
                                a(href='https://myaccount.shoppre.com/register') Sign
                                |  in
                              span(style='font-weight: 400;') to your Shoppre account to:
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 1. Check if your items have been received
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 2. Create a ship request
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 3. Check the status of your shipments
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;')
                                | 4. Change any of your account details such as shipping address, shipping preferences, and membership information.
                            p
                              span(style='font-weight: 400;')
                                | Note: You will receive an email notification when you receive a package, or when Shoppre sends a shipment to you.
                      .panel
                        .panel-heading.nested(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', href='#faq_106', aria-expanded='true')
                              | Why is my login information not working?
                        #faq_106.panel-collapse.collapse
                          .panel-body
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;')   1. Make sure your
                              em
                                span(style='font-weight: 400;') Caps Lock
                              span(style='font-weight: 400;')  button is not turned on.
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;')
                                | 2. Make sure your Web browser is updated to Internet Explorer version 11+, Mozilla Firefox version 39+, Google Chrome 43+, or Safari version 8+.
                      .panel
                        .panel-heading.nested(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', href='#faq_107', aria-expanded='true')
                              | After I login why do I keep getting the login prompt?
                        #faq_107.panel-collapse.collapse
                          .panel-body
                            p
                              span(style='font-weight: 400;')
                                | Try clearing or deleting the cookies from your Web browser. Once you delete your cookies, you may need to close all open browsers. Once closed, open a new browser window and
                              a(href='https://myaccount.shoppre.com/register')
                                span(style='font-weight: 400;') sign in
                                span(style='font-weight: 400;') .
                      .panel
                        .panel-heading.nested(role='tab')
                          h4.panel-title
                            a(role='button', data-toggle='collapse', href='#faq_108', aria-expanded='true')
                              | How do I add additional names to my account?
                        #faq_108.panel-collapse.collapse
                          .panel-body
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;')
                                | 1. 
                                a(href='https://myaccount.shoppre.com/register') Sign in
                              span(style='font-weight: 400;')  to your Shoppre account
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 2. Click
                              em
                                span(style='font-weight: 400;') My Account Settings
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 3. Go to
                              em
                                span(style='font-weight: 400;') Address Book
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 4. Click
                              em
                                span(style='font-weight: 400;') +Add new Shipping Address
                            p(style='padding-left: 30px;')
                              span(style='font-weight: 400;') 5. Click
                              em
                                span(style='font-weight: 400;') Submit
                              span(style='font-weight: 400;')  to save the name to your account
                            .panel
                              .panel-heading.nested(role='tab')
                                h4.panel-title
                                  a(role='button', data-toggle='collapse', href='#faq_109', aria-expanded='true')
                                    | How do I upload a document (for identification purpose) into my account?
                              #faq_109.panel-collapse.collapse
                                .panel-body
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;')
                                      | 1. 
                                      a(href='https://myaccount.shoppre.com/register') Sign in
                                      |  to your Shoppre account
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;') 2. Click
                                    em
                                      span(style='font-weight: 400;') My Account Settings
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;') 3. Click
                                    em
                                      span(style='font-weight: 400;') Account Documents
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;') 4. Click
                                    em
                                      span(style='font-weight: 400;') Upload Document
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;') 5. Click
                                    em
                                      span(style='font-weight: 400;') Browse
                                    span(style='font-weight: 400;')
                                      | to identify the file you want to upload. Navigate to the file on your computer that you want to upload and select it.
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;') 6. Click
                                    em
                                      span(style='font-weight: 400;') Upload Document
                                    span(style='font-weight: 400;')
                                      | to start the upload process. Allow time for the transfer to complete. When complete, your account will refresh and show a preview of the document.
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;') 7. Repeat process for any additional documents.
                                  p(style='padding-left: 30px;')
                                    span(style='font-weight: 400;')
                                      | 8. If you uploaded a document in error, you will have 15 minutes to delete it by clicking
                                    em
                                      span(style='font-weight: 400;') Delete
                                    span(style='font-weight: 400;') .
                            .panel.panel-default
                              .panel-heading(role='tab')
                                h4.panel-title
                                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#cat_3', aria-expanded='true')
                                    | Shoppre Mobile App
                              #cat_3.panel-collapse.collapse
                                .panel-body.nested
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_9', aria-expanded='true')
                                          | What features can I find in the App?
                                    #faq_9.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            a(href='https://play.google.com/store/apps/details?id=com.shoppre.play&referrer=utm_source%3Dshoppre%26utm_medium%3Dfaq%26utm_term%3Dshoppre%252Bapp', target='_blank') Shoppre App
                                            |  is an easy way to get updated about latest Deals & Discounts in Indian Shopping sites. You can redeem  cashback offers (which are offered at different occasions on  Social Media Platforms). We are also in the process of developing other features. Download the app to stay tuned!
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_10', aria-expanded='true')
                                          | How do I download the  app on my Apple or Android device?
                                    #faq_10.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            | Currently we are only on Android. We are coming soon on IOS also! Android users click here to download your app:
                                          span(style='font-weight: 400;')  
                                          a(href='https://play.google.com/store/apps/details?id=com.shoppre.play')
                                            span(style='font-weight: 400;') Google Play Store
                                          span(style='font-weight: 400;') .
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_11', aria-expanded='true')
                                          | What do I need to log in to the  mobile app?
                                    #faq_11.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;') All you need is an active GMAIL account to login to the app!
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_12', aria-expanded='true')
                                          | What if I cannot sign in to the  app?
                                    #faq_12.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;') Kindly get in touch with our team at
                                          a(href='mailto:support@shoppre.com')
                                            span(style='font-weight: 400;') support@shoppre.com
                                          span(style='font-weight: 400;')  and we will try to sort the issue.
                                        p(style='padding-left: 30px;')
                                          br
                                          br
                            .panel.panel-default
                              .panel-heading(role='tab')
                                h4.panel-title
                                  a(role='button', data-toggle='collapse', data-parent='#accordion', href='#cat_4', aria-expanded='true')
                                    | Declared Values & Receipts
                              #cat_4.panel-collapse.collapse
                                .panel-body.nested
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_13', aria-expanded='true')
                                          | What is a seller invoice?
                                    #faq_13.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            | A seller invoice, or payment receipt, is a document that shows the price you paid for merchandise you have purchased. The document may also contain other information, including the name and address of the sellers.
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            | Many sellers automatically include a seller invoice with your package, and some may email you an electronic seller invoice.
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            | Please keep a record of your seller invoices so you can provide them to Shoppre (if needed) or your customs office (if required) for export or import purposes.
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_14', aria-expanded='true')
                                          | Why do you need the purchase values of my items, and how do I confirm  them?
                                    #faq_14.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            | Customs requires the purchase value of all imported products. Hence you will have to share the values in cases where the product arrives without a Seller Invoice/Payment Receipt.
                                        p(style='padding-left: 60px;')
                                          span(style='font-weight: 400;') Your package (which requires value to be inputted) will be displayed in the
                                          em
                                            span(style='font-weight: 400;') Action Required
                                          span(style='font-weight: 400;')  tab, and you will need to manually enter purchase values:
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') 1. Click Provide Item Values for the packages indicated
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') 2. Enter the price you paid for the items listed
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') 3. Click Submit Item Values
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') 4. If the item values are accepted, your package will move to Ready to Send
                                        p(style='padding-left: 60px;')
                                          span(style='font-weight: 400;')
                                            | 5. If there’s a discrepancy and the values submitted by you does not match the merchant’s advertised prices, you will be prompted to  upload your seller invoice or payment receipt.
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') a. Click the
                                          em
                                            span(style='font-weight: 400;') Action Required
                                          span(style='font-weight: 400;')  tab
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') b. Click
                                          em
                                            span(style='font-weight: 400;') Upload
                                          span(style='font-weight: 400;')  to submit your document.
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') c. Click
                                          em
                                            span(style='font-weight: 400;') Browse
                                          span(style='font-weight: 400;')  to select a file from your computer to upload.
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;') d. When you have selected a file to upload, click
                                          em
                                            span(style='font-weight: 400;') Upload Document
                                          span(style='font-weight: 400;') .
                                        p(style='padding-left: 90px;')
                                          span(style='font-weight: 400;')
                                            | e. You will see a success message when your merchant invoice has been successfully uploaded, and your package will be moved to the
                                          em
                                            span(style='font-weight: 400;') In Review
                                          span(style='font-weight: 400;')  tab.
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_15', aria-expanded='true')
                                          | Will I be asked to submit the seller invoice for all the items?
                                    #faq_15.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;') No, you will not have to submit the seller invoice for all the items.
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            | If there’s a discrepancy and the values submitted by you does not match the market rate, you will be asked to submit the seller invoice before the item can be shipped.
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_16', aria-expanded='true')
                                          | How do I request a seller invoice?
                                    #faq_16.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            | Many sellers automatically include an invoice with your merchandise. In some cases, it may be necessary to request that the seller includes a paper invoice. If a seller emails you an invoice or payment receipt, you may need ask the seller to also include a seller invoice with your merchandise.
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            | If you purchase from an eBay seller or private individual, it may be necessary to email the seller and request a seller invoice showing the seller’s name, address and the price you paid for your purchases.
                                          span(style='font-weight: 400;')
                                            br
                                          span(style='font-weight: 400;')
                                            br
                                          em
                                            span(style='font-weight: 400;') Special note about gift items:
                                          span(style='font-weight: 400;')
                                            br
                                        p(style='padding-left: 30px;')
                                          span(style='font-weight: 400;')
                                            | If you indicate your item is a gift, the seller may include a seller invoice that does not show the price you paid for your merchandise. If your package arrives with a gift receipt rather than a complete seller invoice, you will be asked to provide additional information before can export your purchases.
                                        p  
                                  .panel
                                    .panel-heading.nested(role='tab')
                                      h4.panel-title
                                        a(role='button', data-toggle='collapse', href='#faq_17', aria-expanded='true')
                                          | Do you accept seller invoices in currencies other than INR?
                                    #faq_17.panel-collapse.collapse
                                      .panel-body
                                        p(style='padding-left: 30px;')
                                          strong Yes
                                          span(style='font-weight: 400;')
                                            | . If your seller invoice is in a different currency, we will convert the prices into Indian Rupees (INR) using the current exchange rate.
                                        p
                                          br
                                          br
                                        p
                                          br
                                          br
                            .panel.panel-default
