.div-b-r{border: 1px solid rgba(146, 156, 165, 0.2) }
.btn-add-package{background: #fff;  color: #507dbc;  border: 1px solid #507dbc;}
.btn-request{border-radius: 3px;  border: 1px solid #507dbc;background-color: #507dbc;}
.bg-color {
  background-color: #f1f5fa;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: 0px;
}
.table > tbody + tbody {
   border: 0px ;
}
