div.bg-white.lter.page-empanelment(ng-init="App.fullPage=true")
  div(style="position: relative")
    .col-sm-4.hidden-xs.thumbnail.fixed(style="background: url(assets/images/preferences.svg) top center / 60% 60% no-repeat #D7E8E6; background-position: right 50% top 50%; height: 100%;" ng-hide="TermsAndConditions.flag")
    .col-sm-8.col-sm-offset-4.bg-white(style="background-color: #fff; height: 100%; position: fixed; overflow-y: scroll;")
      .col-sm-12
        preferences
        br
        br
        br
        br
        br


