//- list
ul.nav.navbar-nav.navbar-left
  li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs Navigation
  li.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv(uib-dropdown-toggle ui-sref='orders.index({bucket: "All"})')
      i.fa.fa-list-alt.text-white
      span ORDERS
  li.nav-menu-item(ui-sref-active='active' uib-dropdown)
    a.hv(uib-dropdown-toggle ui-sref='customers.list({status: "All"})')
      i.fa.fa-list-alt.text-white
      span CUSTOMERS
