.bg-sidebar {
  background: #EDF1F2;
}

#navigationJobs .nav > li > a {
  padding: 2px 10px 2px 20px;
  margin: 0;
}

.btn-red .badge {
  background: #fff;
  color: red;
}

.text-muted-q {
  color:#909497
}

.sidebar-text {
  color:#7F8382;
}

.badge-q {
  background-color: #fff;
  border: 1px solid #ccc;
}

.job-title {
  position:relative;
  top:-2px;
}
