doctype html
html(lang='en')
  head
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
      block title
    meta(name='description', content="@yield('description')")
    meta(name='keywords', content="@yield('keywords')")
    link(rel='shortcut icon', href="/favicon.png')}}")
    link(rel='icon', type='image/png', href="/favicon.png'", sizes='60x60')
    // Bootstrap
    //link(href="/bower_components/bootstrap/dist/css/bootstrap.css", rel='stylesheet')
    link(href="/app/css/bootstrap.min.css", rel='stylesheet')
    //// Font Awesome
    link(href="/app/css/font-awesome.min.css", rel='stylesheet')
    link(href="/app/css/owl.carousel.min.css", rel='stylesheet')
    link(href="/app/css/magnific-popup.css", rel='stylesheet')
    //link(href="/bower_components/components-font-awesome/css/fontawesome-all.css", rel='stylesheet')


    block css_style
    link(href="/app/css/style.css", rel='stylesheet')
    link(href="/app/css/dhl.css", rel='stylesheet')
    link(rel='publisher', href='https://plus.google.com/101070316798366909776/')
    meta(name='google-play-app', content='app-id=com.shoppre.play')
    meta(property='fb:app_id', content='1819630241632764')
    meta(property='al:android:url', content='https://www.shoppre.com/')
    meta(property='al:android:package', content='com.shoppre.play')
    meta(property='al:android:app_name', content='Shoppre - International Shipping from India')
    meta(name='msvalidate.01', content='0E25F147AD9B658B4418A996E97D0D7D')
    block schema_markup
    // Google Tag Manager
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NRL4B6X');
    // End Google Tag Manager
  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NRL4B6X', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    include ./partials/_header
    block content
    include ./partials/_footer
    script(src="/cdn/js/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/cdn/js/txtProgress.min.js")
    script(src="/cdn/js/validate.min.js")
    // Home
    script(src="/cdn/js/owl.carousel.min.js")
    script(src="/cdn/js/home.js")
    script(src="/cdn/js/jquery.magnific-popup.min.js")
    script.
      $(document).ready(function () {
        $("#btnClosePopup").click(function () {
          localStorage.popupClose = "close";
          $('#myModal').modal('hide');
        });
        $("#btn_signup_popup").click(function () {
          $(".login-content").css("display", "none");
          $(".signup-content").css("display", "block");
        });
        $("#btn_login_popup").click(function () {
          $(".login-content").css("display", "block");
          $(".signup-content").css("display", "none");
        });
        if (!localStorage.popupClose) {
          // var t = setTimeout(popupFunction, 6000);
        }
        function popupFunction() {
          localStorage.popupClose = "close";
          $('#myModal').modal('show');
        }
      });
    script(type='text/javascript').
      $(document).ready(function () {
        var progress_val = $("#progress_val").val();
        $('.progress_bar').data("animated", false).textProgress(progress_val);
      });
    script(type='text/javascript').
      $(function () {
        $('.tooltipkey').tooltip({
          'html': true
        })
      })
    // li-Scroller
    script(src="/cdn/js/liscroller.1.0.js")
    script(type='text/javascript').
      $(document).ready(function () {
        $("ul#liticker").liScroll({travelocity: 0.05});
      });
    // Facebook Pixel Code
    script.
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '437389746641326'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=437389746641326&ev=PageView&noscript=1')
    script.
      if (window.location.href == "https://www.shoppre.com/campaign/flyer/616") {
        if (!localStorage.newsUrlVisit) {
          console.log("News Enter");
          localStorage.newsUrlVisit = window.location.href;
          var coupon_news = "KOR-BLR-N";
          var url = window.location.href;
          storecustomer(localStorage.newsUrlVisit, coupon_news);
        }
      }
      function storecustomer(url, coupon) {
        $.ajax({
          url: '/api/campaign/newaspaper',
          type: "POST",
          data: {
            url: url,
            coupon: coupon
          },
          success: function (data) {
            console.log(data);
          }
        });
      }
    block js_script
