section.ship_response
  .container
    .row
      .col-sm-12
        .longblock
          h4.title PAYMENT CONFIRMATION
          h3.alert.alert-success.text-center Success! You have completed your ship request.
          .col-md-12
            p.confirm
              | An email confirmation of your request has been sent to
              a.summary-order(href='javascript:void(0)')&nbsp; {{$ctrl.transaction.Customer.email}}
              | .
          .col-sm-12(ng-show = "$ctrl.transaction.payment_gateway_id == $ctrl.paymentGatewayWireID")
            .wireoption
              p.info
                | We will process your order once your payment to the below bank account is confirmed. Kindly note that we currently
                strong.m-l-xs DO NOT ACCEPT WESTERN UNION MONEY TRANSFERS
                | .
                strong
                  | Also, it may take up to 7 business days for the amount to reflect in our account, especially in case of International Wire Transfers.
                |  In such a case, we advise you to opt for an alternative payment method if your shipment is urgent or if you don’t want to be charged with storage cost. Please click here if you wish to
                a.summary-order(ui-sref='transaction.create({ object_id: $ctrl.transaction.object_id, amount: $ctrl.transaction.amount, customer_id: $ctrl.transaction.customer_id })')&nbsp; change the payment method.
              .bg-light.well
                h4 Account Name: INDIANSHOPPRE LLP
                p Account Number: 918020022874771
                p Branch: Bangalore
                p IFS Code: UTIB0000009
                p MICR Code: 560211002
                p E-mail ID: finance@shoppre.com
                p Address: NO. 9, M.G. ROAD, BLOCK 'A'
                p Swift Code: AXISINBB009
          .col-sm-12(ng-show = "$ctrl.transaction.payment_gateway_id === $ctrl.paymentGatewayCashID")
              p.info
                | We will process your order once your payment is confirmed. In such a case, we advise you to opt for an alternative payment method if your order is urgent or if you don’t want to be charged with storage cost. Please click here if you wish to
                a.summary-order(ui-sref='transaction.create({ orderCode: $ctrl.transaction.object_id, amount: $ctrl.transaction.amount })')&nbsp; change the payment method.
          .clearfix
          .alert.alert-warning.text-center(role='alert')
            h4
              | AFTER your payment has been confirmed, your order processed within 24 hours.
            p
              | An email with your transaction information sent when payment gets completed.
          .clearfix
          .ship_points
            h4 What's Next
                button.btn.btn-primary(
                type='submit',
                style='width: 100%;font-size: 18px;border-radius: 5px;background: #10c018;font-weight: 900;'
                ng-click='$ctrl.response()'
                )
                  | View your order details
