.candidate-filter-view {
  transition: opacity 0.3s linear !important;
  .form-control {
    height: initial;
    padding: 0 12px;
  }

  .modal-content {
    background-color: transparent;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }

  .scrollableContainer {
    max-height: 247px !important;
    height: initial !important;
    padding-top: 5px !important;
  }

  .nav-pills {
      > li + li {
        margin: 0;
    }
  }

  .scrollArea table tr {
    border: 1px solid #EDF1F2;
  }

  .scrollArea table tr td {
    border-bottom: 0px !important;
    padding: 0px;
  }

  .scrollArea table tbody tr td {
    border-bottom: 0px !important;
    padding: 10px;
  }

  .scrollableContainer .headerSpacer {
    border: 0px !important;
  }

  .scrollArea, .slimscroll .scrollArea {
    max-height: 247px !important;
    border: 0px !important;
  }

  .slimscroll, .slimscroll .scrollArea {
    padding-top: 0px !important;
  }

  .slimscroll::-webkit-scrollbar-track, .slimscroll .scrollArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .slimscroll ::-webkit-scrollbar, .slimscroll .scrollArea::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }

  .slimscroll::-webkit-scrollbar-thumb, .slimscroll .scrollArea::-webkit-scrollbar-thumb {
    background-color: #555;
  }

  .btn-blue {
    color: white;
    background-color: #0D71C3;
  }

  .btn-blue:hover {
    color: white;
    background-color: #245498;
  }
}


