<table class="m_95026204423278351outer-content-table" style="border-spacing:0;border-collapse:separate;width:85%;min-width:300px;max-width:900px;text-align:center;font-weight:500;font-size:14px;margin:20px auto 0;padding:0;border:0">
  <tbody><tr style="margin:0;padding:0;border:0">
    <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
            <span>  Your Daily Summary for
  May 30, 2018

  <div style="font-size:30px;margin:10px">
    <img goomoji="1f4c8" data-goomoji="1f4c8" style="margin:0 0.2ex;vertical-align:middle;max-height:24px" alt="📈" src="https://mail.google.com/mail/e/1f4c8" class="CToWUd">
  </div>
  <div class="m_95026204423278351copy-row" style="font-size:20px;font-weight:300">
    TL;DR: <span style="font-weight:400">QuezX</span> for Android is growing like crazy!
  </div>
  <div style="font-weight:300;margin:10px">
    Daily New Users is up <span class="m_95026204423278351colored-delta" style="color:#00ad39;font-weight:500">100%</span> from a week ago!
  </div>
</span>
    </td>
  </tr>
  </tbody></table>

<table style="width:auto;border-spacing:0;border-collapse:separate;margin:20px auto 0;padding:0;border:0">
  <tbody><tr style="margin:0;padding:0;border:0">
    <td style="min-width:15px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif"></td>
    <td align="center" class="m_95026204423278351inner-content-table" style="width:auto;margin-left:0;margin-right:0;max-width:none;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;min-width:300px;margin-top:20px">
      <a href="https://fabric.io/quetzal/android/apps/com.quezx.hire/dashboard" class="m_95026204423278351no-link-style" rel="noopener" style="color:inherit;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://fabric.io/quetzal/android/apps/com.quezx.hire/dashboard&amp;source=gmail&amp;ust=1527909607118000&amp;usg=AFQjCNFqfqQ7NHq2ybz--d99YlG0fgsGmw">

        <table style="width:auto;border-spacing:0;border-collapse:separate;margin:0;padding:0;border:0">
          <tbody><tr class="m_95026204423278351app-label m_95026204423278351first" style="text-align:left;color:#292f33;margin:0;padding:0;border:0" align="left">
            <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-left-radius:5px;border-top-right-radius:5px;background:white;padding:12px;border-color:#d7e2e9;border-style:solid;border-width:1px 1px 0">
              <table style="border-spacing:0;border-collapse:separate;width:100%;margin:0;padding:0;border:0">
                <tbody><tr style="text-align:center;margin:0;padding:0;border:0" align="center">
                  <td align="left" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-left-radius:5px;border-top-right-radius:5px;background:white;padding:0;border:0 solid #d7e2e9">
                    <div>
                      <img alt="" class="m_95026204423278351app-icon CToWUd" height="35" src="https://ci4.googleusercontent.com/proxy/r2HanRyxiwJxGJv-7uKi-1KIBGyY5bLpT0OnCly-BMFqrk7ZzJOXSXnvUcfkKjHDq1HAkgDjcTJFF3rRUhgBV6b08N2P9itunM52w9vYXbHwknfnO46MMMceErC7EwCl0NtAq0BtFSw0C6iU9aqJH6qA3Gqte3YgSCFgtWCGDr8p=s0-d-e1-ft#https://s3.amazonaws.com/assets.crashlytics.com/production/project/6376570/project_icon/2888201/512X512.png" width="35" style="float:left;width:35px;height:35px;min-height:35px;max-height:35px;min-width:35px;max-width:35px;margin-right:8px;border-radius:5px" align="left">
                      <div class="m_95026204423278351title m_95026204423278351no-link-style" style="color:inherit;text-decoration:none;padding-bottom:4px;letter-spacing:0.2px;font-size:90%;font-weight:500">
                        QuezX
                        <span class="m_95026204423278351platform-name m_95026204423278351no-link-style" style="color:#858585;text-decoration:none;font-weight:300;font-size:14px">
                Android
              </span>
                        <span style="color:#858585;font-weight:300"></span>
                      </div>
                      <div class="m_95026204423278351bundle-id m_95026204423278351no-link-style" style="text-decoration-color:transparent;color:#66757f;text-decoration:none;font-size:78%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;letter-spacing:0.2px;font-weight:300">
                        com.quezx.hire
                      </div>
                    </div>
                  </td>
                  <td align="center" style="width:30px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-left-radius:5px;border-top-right-radius:5px;background:white;padding:0;border:0 solid #d7e2e9">
                    <img alt="" height="18px" src="https://ci3.googleusercontent.com/proxy/Eep4RNyDAjLSYDB4snr7N7Jb0uQzFvyTGvgN9hni19qp6chQfBLSbEDbNZwa7ilpFWnlTJJJxjl4TJLY5x4CVd6V6bgkMsvTwVozRlC4wtWnE-a64QQDU1jXtTXTTvN6O1vHeka1xcqnGQbX3i-UHGM-mq_J7NQK8iCWFSx7m8nlkh49PEO_lTOtWkkD=s0-d-e1-ft#http://cdn-cf.fabric.io/assets/mailer/answers_daily_digest/ic-open-in-new-24-px@2x-5248b3b9efd02dea4188c7017e0eaa28.png" width="18px" class="CToWUd">
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>

          <tr class="m_95026204423278351last" style="text-align:center;margin:0;padding:0;border:0" align="center">
            <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:10px;border:1px solid #d7e2e9">
              <div class="m_95026204423278351app-metrics">
                <table style="vertical-align:top;width:auto;display:inline-block;border-spacing:0;border-collapse:separate;margin:0;padding:0;border:0">
                  <tbody><tr style="text-align:center;margin:0;padding:0;border:0" align="center">
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">152</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px">+0.7%</span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Monthly Active</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">23</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Daily Active</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">4</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#00ad39;font-weight:500;font-size:12px">+100%</span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Daily New</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">95.7%</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Crash-free Users</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">134</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#00ad39;font-weight:500;font-size:12px">+37%</span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Total Sessions</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">2:14m</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Time in App per User</td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody></table>
              </div>
            </td>
          </tr>
          </tbody></table>
      </a>    </td>
    <td style="min-width:15px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif"></td>
  </tr>
  </tbody></table>


<table style="width:auto;border-spacing:0;border-collapse:separate;margin:20px auto 0;padding:0;border:0">
  <tbody><tr style="margin:0;padding:0;border:0">
    <td style="min-width:15px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif"></td>
    <td align="center" class="m_95026204423278351inner-content-table" style="width:auto;margin-left:0;margin-right:0;max-width:none;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;min-width:300px;margin-top:20px">
      <a href="https://fabric.io/quetzal/android/apps/com.quezx.manage/dashboard" class="m_95026204423278351no-link-style" rel="noopener" style="color:inherit;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://fabric.io/quetzal/android/apps/com.quezx.manage/dashboard&amp;source=gmail&amp;ust=1527909607118000&amp;usg=AFQjCNEERHLXcBHVvQacSIZQuzXEACFFuA">

        <table style="width:auto;border-spacing:0;border-collapse:separate;margin:0;padding:0;border:0">
          <tbody><tr class="m_95026204423278351app-label m_95026204423278351first" style="text-align:left;color:#292f33;margin:0;padding:0;border:0" align="left">
            <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-left-radius:5px;border-top-right-radius:5px;background:white;padding:12px;border-color:#d7e2e9;border-style:solid;border-width:1px 1px 0">
              <table style="border-spacing:0;border-collapse:separate;width:100%;margin:0;padding:0;border:0">
                <tbody><tr style="text-align:center;margin:0;padding:0;border:0" align="center">
                  <td align="left" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-left-radius:5px;border-top-right-radius:5px;background:white;padding:0;border:0 solid #d7e2e9">
                    <div>
                      <img alt="" class="m_95026204423278351app-icon CToWUd" height="35" src="https://ci4.googleusercontent.com/proxy/yQKv6LuT-kqTQN0JqFSd2kOybAs-MZHvBTQIPVUrMecLaRvO114mXg2RaH2wYCgyG2S6lglawKUVioHzj-4k-IoMTcLm8qHnT0okr6xMjcyWVvE8dtkCGaSo3HJe_Ibv_AmA76QjIolhliH1ZBDk0mobvsfCYUOBVBHEPS87wN44SRy04FzfrsS_qCgEyw=s0-d-e1-ft#https://s3.amazonaws.com/assets.crashlytics.com/production/project/5703866/build_version/47666869/icon/32453872/icon.png" width="35" style="float:left;width:35px;height:35px;min-height:35px;max-height:35px;min-width:35px;max-width:35px;margin-right:8px;border-radius:5px" align="left">
                      <div class="m_95026204423278351title m_95026204423278351no-link-style" style="color:inherit;text-decoration:none;padding-bottom:4px;letter-spacing:0.2px;font-size:90%;font-weight:500">
                        Manage
                        <span class="m_95026204423278351platform-name m_95026204423278351no-link-style" style="color:#858585;text-decoration:none;font-weight:300;font-size:14px">
                Android
              </span>
                        <span style="color:#858585;font-weight:300"></span>
                      </div>
                      <div class="m_95026204423278351bundle-id m_95026204423278351no-link-style" style="text-decoration-color:transparent;color:#66757f;text-decoration:none;font-size:78%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;letter-spacing:0.2px;font-weight:300">
                        com.quezx.manage
                      </div>
                    </div>
                  </td>
                  <td align="center" style="width:30px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-top-left-radius:5px;border-top-right-radius:5px;background:white;padding:0;border:0 solid #d7e2e9">
                    <img alt="" height="18px" src="https://ci3.googleusercontent.com/proxy/Eep4RNyDAjLSYDB4snr7N7Jb0uQzFvyTGvgN9hni19qp6chQfBLSbEDbNZwa7ilpFWnlTJJJxjl4TJLY5x4CVd6V6bgkMsvTwVozRlC4wtWnE-a64QQDU1jXtTXTTvN6O1vHeka1xcqnGQbX3i-UHGM-mq_J7NQK8iCWFSx7m8nlkh49PEO_lTOtWkkD=s0-d-e1-ft#http://cdn-cf.fabric.io/assets/mailer/answers_daily_digest/ic-open-in-new-24-px@2x-5248b3b9efd02dea4188c7017e0eaa28.png" width="18px" class="CToWUd">
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>

          <tr class="m_95026204423278351last" style="text-align:center;margin:0;padding:0;border:0" align="center">
            <td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:10px;border:1px solid #d7e2e9">
              <div class="m_95026204423278351app-metrics">
                <table style="vertical-align:top;width:auto;display:inline-block;border-spacing:0;border-collapse:separate;margin:0;padding:0;border:0">
                  <tbody><tr style="text-align:center;margin:0;padding:0;border:0" align="center">
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">78</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px">+4.0%</span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Monthly Active</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">8</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Daily Active</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">2</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Daily New</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">100.0%</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Crash-free Users</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">32</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#00ad39;font-weight:500;font-size:12px">+300%</span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Total Sessions</td>
                        </tr>
                        </tbody></table>

                    </td>
                    <td class="m_95026204423278351titled-metric-cell" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;min-width:115px;max-width:115px;background:white;padding:15px 5px;border:0 solid #d7e2e9" valign="top">
                      <table class="m_95026204423278351titled-metric" style="border-spacing:0;border-collapse:separate;width:auto;margin:0;padding:0;border:0">
                        <tbody><tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;font-size:22px;color:#0e1e28;background:white;padding:0;border:0 solid #d7e2e9" class="m_95026204423278351value" valign="baseline">2:52m</td>
                          <td style="vertical-align:baseline;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background:white;padding:0 0 0 5px;border:0 solid #d7e2e9" valign="baseline"><span class="m_95026204423278351colored-delta" style="color:#66757f;font-weight:500;font-size:12px"></span></td>
                        </tr>
                        <tr style="text-align:left;margin:0;padding:0;border:0" align="left">
                          <td nowrap="" colspan="2" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border-bottom-left-radius:5px;border-bottom-right-radius:5px;vertical-align:top;font-size:12px;color:#66757f;background:white;padding:2px 0 0;border:0 solid #d7e2e9" class="m_95026204423278351title" valign="top">Time in App per User</td>
                        </tr>
                        </tbody></table>

                    </td>
                  </tr>
                  </tbody></table>
              </div>
            </td>
          </tr>
          <tr style="text-align:center;margin:0;padding:0;border:0" align="center">
            <td class="m_95026204423278351daily-digest-separator" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;background:transparent;padding:20px 0px 0px;border-color:#d7e2e9;border-style:solid;border-width:0px 0px 1px"></td>
          </tr>
          </tbody></table>
      </a>    </td>
    <td style="min-width:15px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif"></td>
  </tr>
  </tbody></table>
