div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only.pull-left
      h1.m-l-md.font-thin.h3.no-margin
        span ACCOUNT DOCUMENTS
      hr
      p.no-margin Please upload any documents requested by Shoppre to validate your account (For example, your photo identification, etc.).
        | Please do not upload invoices here. Seller invoices can be uploaded to your packages in My Locker.
        input.btn.btn-addon.btn-success.ng-click-active.m-t-md.m-b-md(type='file', multiple='')
        p.text-warning.no-margin Is this secure?
        p.no-margin
          | Yes, all uploaded documents are held in our secure server, and are only available for viewing when you are signed in to your account.
        .clearfix
        button.btn.btn-info.pull-right.m-b-md(type='submit') Save Chanegs


