section(role='signUp')
  .container
    .col-md-6.col-lg-6.col-sm-6.col-xs-12.div-sign-up-left(style='margin-top: 50px;')
      .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
        center
          h1.header1.p-color-cement-dark  Register
        .div-login-margin
          p.header6.p-color-cement Register with
          button.btn-login-g(type='button')
            p.header4.p-color-white(style='text-align: center;') Google Plus
          button.btn-login-fb(type='button')
            p.header4.p-color-white(style='text-align: center;') Facebook
          .row-divider
          p.header6.p-color-cement(style='margin-top: 20px;') Register with email
          input.text-box-email.header5.p-color-cement-dark(type='text', placeholder='  john@email.com', name='' ng-model='$ctrl.data.email')
          input.text-box-password.header5(type='text', placeholder='  Password', name='' ng-model='$ctrl.data.password')
          input.text-box-password.header5(type='text', placeholder='  Refferal code', name='' ng-model='$ctrl.data.refferal')
          label.header5.p-color-cement-dark(style='margin-top: 20px') By Clicking Signup, you agree to our
          br
          a.header5.p-color-red(style='margin-left: 40px', href='#') Terms & Privacy Policy
          button.btn-register.p-color-white(style='margin-left: 40px' ng-click ='$ctrl.signup()') Register
          label.header5.p-color-cement-dark(style='margin: 50px 0 0	20px ')
            | Already a Member ?
            a.header5.p-color-red(href='#') Sign in here!
    .col-md-6.col-lg-6.col-sm-12.col-xs-12.div-sign-up-right(style='margin-top: 50px;')
      center
        .div-border-right
          center
            .join-border
              p.header4.p-color-cement-dark Join to
              p.p-header-grab.p-color-cement-dark Grab Offer
            img.img-offer(src='img/offer.png')
