footer
  section.infolinks
    .container
      .row
        .col-sm-4
          .logo
            img(src="/cdn/img/logo.png")
          .contact_info
            span
              i.glyphicon.glyphicon-earphone
              strong
                a(href='tel:+91-80 4094 4077') +91 80 4094 4077
            span
              i.glyphicon.glyphicon-envelope
              strong
                a(href='mailto:support@shoppre.com') support@shoppre.com
            span
              i.glyphicon.glyphicon-map-marker
              strong
                | #181, 1st Floor, 2nd Cross Rd,
                br
                |  1st Block Koramangala,
                br
                |  Bengaluru - 560034
        .col-sm-3
          ul.foot_menu
            li
              a(href='https://www.indeedjobs.com/shopprecom/_hl/en_IN', target='_blank') Careers
            li
              a(href='http://blog.shoppre.com/', target='_blank') Blogs
            li
              a(href="/services") Our Services
            li
              a(href="#{URLS_MYACCOUNT}/loyalty-points") Shoppre Loyalty Points
            li
              a(href="{{route('cguide.index')}}") Country Guides
            li
              a(href="/browse-categories") Browse Categories
            li
              a(href="/reviews") Shoppre Reviews
            li
              a(href="#{URLS_MYACCOUNT}/personal-shopper") How Personal Shopper Works
            li
              a(href="/pricing") Shipping and Pricing for your country
        .col-sm-3
          ul.foot_menu
            li
              a(href="/about") About Shoppre
            li
              a(href="/faq") FAQ
            li
              a(href='https://myaccount.shoppre.com/direct/payment') Make Payment
            li
              a(href="/feedback") Feedback
            li
              a(href="/contactUs") Contact us
            li
              a(href="/termsAndConditions") Terms & Conditions
            li
              a(href="/privacyPolicy") Privacy Policy
            li
              a(href="/refundAndCancellation") Refund & Cancellation Policy
            li
              a(href='https://chrome.google.com/webstore/detail/shoppre-international-shi/kplnmmemlcfmbhbjegagmiiiphghdpch') Install Shoppre Chrome Extension
        .col-sm-2
          .foot_social
            h3 Share the love!
            a(href='https://www.facebook.com/goshoppre/', target='_blank')
              i.fa.fa-facebook-square
            a(href='https://twitter.com/Go_Shoppre', target='_blank')
              i.fa.fa-twitter-square
            a(href='https://www.instagram.com/shoppre_official/?hl=en', target='_blank')
              i.fa.fa-instagram
            a(href='https://www.youtube.com/channel/UCCBP1ybWY9spoleKqMgAQaw', target='_blank')
              i.fa.fa-youtube
            a.footer-google-logo(href='https://goo.gl/jTfUjf', target='_blank')
              img(src="/cdn/img/playstore.png")
        .clearfix
  section.bottom
    .container
      .row
        .col-sm-6
          p.copy © 2018, All Rights Reserved - by Shoppre
        .col-sm-6
          .terms
            a(href='/terms-and-conditions') Terms & conditions
            span |
            a(href='/privacy-policy/') Privacy policy
        .clearfix
