div.bg-white.lter(style='height: 100%;width: 100%;top: 3.6em;position: fixed;z-index: 1000;' ng-init="App.fullPage=true")
  .hbox.padder
    br
    br
    br
    h1.text-center
      | Your account has been deactivated because of inactivity for more than 30 days. Please contact&nbsp;
      a(href="mailto:consultantbd@quetzal.in ") consultantbd@quetzal.in
      | &nbsp;in case you want to commence work. Thanks.

