.hbox.hbox-auto-xs.hbox-auto-sm.bg-white-only(ng-hide="$ctrl.showPreview")
  form.form-horizontal.wrapper-md(name="$ctrlForm")
    .row
      // Form Block
      .col-md-7.col-lg-10.col-lg-10(style="margin:auto;float:inherit")
        // Form Items
        .streach-text.pull-right.m-r-xs.m-b-md(style="cursor:pointer;" ng-click="$ctrl.$uibModalInstance.dismiss('cancel')") X
        .row.centerFlex
          .col-md-6.col-sm-6.col-xs-12
            .col-xs-12.no-padder
              h4.pull-left.font-thin.m-t-none.m-b.text-info Allocate
              .btn.btn-sm.btn-success.pull-right(ng-click="$ctrl.allocate();" ng-disabled='!$ctrl.checked') Allocate
            .col-xs-12.no-padder(ng-if='!$ctrl.isMultiJobAlloc')
              .scrollableContainer.slimscroll(watch="1")
                .scrollArea
                  table(style='border:0px;')
                    tr(ng-repeat="consultant in $ctrl.consultants" ng-if='consultant.allocated==false')
                      td(style='width: 64px;')
                        ul.nav.nav-sm.nav-pills
                          li
                            label.i-checks.m-b-none
                              input(type='checkbox' name='post[]' ng-model='consultant.allocate' ng-change='$ctrl.enableApply();')
                              i
                      td {{consultant.name}}
            .col-xs-12.no-padder(ng-if='$ctrl.isMultiJobAlloc')
              .scrollableContainer.slimscroll(watch="1")
                .scrollArea
                  table(style='border:0px;')
                    tr(ng-repeat="consultant in $ctrl.consultants")
                      td(style='width: 64px;')
                        ul.nav.nav-sm.nav-pills
                          li
                            label.i-checks.m-b-none
                              input(type='checkbox' name='post[]' ng-model='consultant.allocate' ng-change='$ctrl.enableApply();')
                              i
                      td {{consultant.name}}
        .row.centerFlex.m-t-md(ng-if='!$ctrl.isMultiJobAlloc')
          .col-md-6.col-sm-6.col-xs-12
            .col-xs-12.no-padder
              h4.pull-left.font-thin.m-t-none.m-b.text-info Allocated To
            .col-xs-12.no-padder
              .scrollableContainer.slimscroll(watch="1")
                .scrollArea
                  table(style='border:0px;')
                    tr(ng-repeat="consultant in $ctrl.consultants" ng-if='consultant.allocated === true')
                      td(style='width: 64px;')
                        ul.nav.nav-sm.nav-pills
                          li
                            a.fa.text-info.b-a.b-info.sans-serif.m-r-xs(style='padding: 5px 2px 2px 2px;font-weight: 600;border-radius: 50%;height: 30px;width: 30px;line-height: 1.5em;text-align: center;'
                            ng-if='consultant.name'
                            ng-bind='$ctrl.initials(consultant.name)')
                      td(colspan='2' ng-bind='consultant.name')
                      td
                        .pull-left.text-info-dker.b-a.b-info(style='padding:2px 2px 0px 2px; border-radius:2px;')
                          |{{consultant.consultant_response ? consultant.consultant_response : 'New'}}
                        .pull-right.m-r-xs(style="cursor:pointer;" ng-click="$ctrl.deallocate(consultant)") X
        br
