.hbox.wrapper-xs.r(style='background: #c7ebfb')
  .col.w-xs.v-middle.text-center
    i.fa-2x.fa.fa-info-circle

  .col.v-center.text-light-dk.text-md
    span Client has sufficient profiles at the moment for this JD. We recommend you to work on other JDs.

    span In case you have sourced profiles for this JD, you can upload them.

    span These profiles will be kept in pipeline and will be used if client requires more CVs.

    span.font-bold(ng-if='data.open_platform') Please note that the client might modify the payment terms before marking JD on high priority and the same will be applicable on this candidate.

