$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../../../angulr/main';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'directives/announcement-modal/announcement-modal.scss';
@import 'directives/change-shipment-state/change-shipment-state.scss';
@import 'directives/directive-header/directive-header.scss';
@import 'directives/email-candidate/email-candidate.scss';
@import 'directives/package-filter/package-filter.scss';
@import 'directives/reapply/reapply.scss';
@import 'directives/shipment-filter/shipment-filter.scss';
@import 'naivgation.scss';
@import 'routes/access/access.scss';
@import 'routes/customers/customers.scss';
@import 'routes/customers/list/list.scss';
@import 'routes/customers/packages/create/create.scss';
@import 'routes/customers/shipments/create/create.scss';
@import 'routes/customers/view/view.scss';
@import 'routes/packages/packages.scss';
@import 'routes/shipments/shipments.scss';
@import '../components/footer/footer.scss';
@import '../components/light-box/light-box.scss';
@import '../components/navbar/navbar.scss';
// endinjector

// Override: TODO: Seems some differences with bootstrap-sass of hire and this(partner).
.btn-success:hover {
  color: $brand-light;
}

navbar {
  background-image: url(https://myaccount.shoppre.com/img/top-bar.jpg) !important;
}

.invisible{visibility: hidden}
.height-21{height:21.5em;}

.btn.icon {
  padding: 5px 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.avatar i {
  margin: -3px;
}

.streach-text {
  -webkit-transform: scale(2, 1.2); /* Safari and Chrome */
  -moz-transform: scale(2, 1.2); /* Firefox */
  -ms-transform: scale(2, 1.2); /* IE 9 */
  -o-transform: scale(2, 1.2); /* Opera */
  transform: scale(2, 1.2); /* W3C */
}

.icon-gray {
  color: #9B9B9B;
  padding-left: 7px;
  padding-right: 7px;
}

.flex {
  display: flex;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.h-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-box .flex-heading {
  flex: 0 1 auto;
}

.flex-box .flex-content {
  flex: 1 1 auto;
  overflow: auto;
  height: 0;
  padding-left: 5px;
}

.flex-box .flex-footer {
  flex: 0 1 40px;
}

.badge-bracket {
  font-size: 12px;
}

.badge-bracket:empty {
  display: none;
}

.badge-bracket:before {
  content: "(";
}

.badge-bracket:after {
  content: ")";
}

.no-drop {
  cursor: no-drop;
  cursor: not-allowed !important;
}

.top-margin-10 {
  margin-top: 10px;
}

.right-padding-20 {
  padding-right: 20px;
}

.left-margin-20 {
  margin-left: 20px;
}

.left-margin-5 {
  margin-left: 5px;
}

.padding-5 {
  padding: 5px;
}

.right-padding-5 {
  padding-right: 5px;
}

.left-padding-5 {
  padding-left: 5px;
}

@media (max-width: 768px) {
  .fix-truncate {
    width: 330px;
  }

  .fix-min-width {
    min-width: 420px;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-padding-5 {
  padding-top: 5px;
}

.left-padding-15 {
  padding-left: 15px;
}

.hover-scroll-y {
  overflow-y: hidden;
}

.hover-scroll-y:hover {
  overflow-y: auto;
}

//.hbox {
//  max-width: 1380px;
//  margin: auto;
//}

.card-applicant {
  box-shadow: 1px 1px 10px;
}

.table-jobs > tbody > tr > td,
.table-jobs > tfoot > tr > td {
  padding: 2px 2px;
}

@media (max-width: 992px) {
  .col-divider > div {
    border-left: 2px solid transparent;
  }
}

.no-banner-announcement {
  .banner {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .app-header {
    position: fixed;
    top: 26px;
  }
  .navbar-header {
    position: inherit !important;
  }
  .app-aside {
    position: fixed !important;
    top: 76px !important;
  }
  .app-content {
    position: fixed !important;
    top: 141px !important;
  }
  .bg-black {
    top: 0 !important;
    bottom: 0 !important;
  }
  .fixed-applicant-details, .fixed-resume, .nav-comment {
    top: 141px !important;
  }
}

.p-t-xs {
  padding-top: 5px;
}

.p-b-xs {
  padding-bottom: 5px;
}

.p-l-xs {
  padding-left: 5px;
}

.p-r-xs {
  padding-right: 5px;
}

.p-xs {
  padding: 5px;
}

.p-t-md {
  padding-top: 10px;
}

.p-b-md {
  padding-bottom: 10px;
}

.p-l-md {
  padding-left: 10px;
}

.p-r-md {
  padding-right: 10px;
}

.p-md {
  padding: 10px;
}

.border {
  border: 1px solid #CFDADD;
  border-radius: 5px;
}

.b-skill {
  background-color: #708090;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.8;
  color: white;
}

.b-skill-active {
  background-color: #F3EB3A;
  color: black;
}

strong.highlight {
  color: black;
  font-weight: 500;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding: 5px;
  background-color: #F3EB3A;
}

.multiCheckDropDown {
  .show {
    width: 95%;
  }
  .multiSelect {
    width: 100%;
    button {
      min-height: 30px !important;
      width: 100%;
      text-align: left;
    }
    button.clearButton {
      min-height: 22px !important;
    }
    .checkBoxContainer {
      max-height: 150px;
      overflow-y: auto;
    }
  }
  .line {
    button {
      width: initial;
    }
    height: auto !important;
  }
  .caret {
    position: absolute;
    right: 10px;
    margin-top: 10px !important;
  }
  .reset {
    visibility: hidden;
  }
}

.inputRange {
  padding: 2px 10px;
  width: 80px;
}

li.dndPlaceholder {
  list-style: none;
}

.btn-s {
  height: initial;
  padding: 1px 5px !important;
}

.text-blue {
  font-weight: 600;
  color: #5188C6 !important;
}

.text-blue:hover {
  color: #5188C6 !important;
}

.bg-blue {
  background-color: #5188C6 !important;
}

.bg-sea-green {
  background-color: #00B387;
  color: white;
}

.color-sea-green {
  color: #00B387;
}

.bg-sea-dark-green {
  background-color: #00BB8D;
  color: white;
}

.b-gray {
  border-color: #989898;
}

.b-body {
  background-color: #EDF1F2 !important;
}

.text-gray {
  color: #989898;
}

.border-gray {
  border: 1px solid #989898;
}

.m-t-xs-md {
  margin-top: 10px;
}

.text-heading {
  color: #313133;
  font-weight: 500;
}

.custom-icon-gray {
  color: #96989A;
  border-color: #96989A;
}

.custom-icon-gray:hover {
  color: #00B387;
  border-color: #00B387;
}

.text-skill-heading {
  color: #373435;
}

.color-sea-green {
  color: #00B387;
}

.bg-sea-dark-green {
  background-color: #00BB8D;
  color: white;
}

.b-gray {
  border-color: #989898;
}

.b-body {
  background-color: #EDF1F2 !important;
}

.text-gray {
  color: #989898;
}

.border-gray {
  border: 1px solid #989898;
}

.m-t-xs-md {
  margin-top: 10px;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  80% { opacity: 0.8; }
}
.btn-new-badge {
  background-color: #da3510;
  font-style: initial !important;
  position: absolute;
  left: -13px;
  top: -4px;
  font-size: 8px;
  font-weight: initial;
}
.m-l-xs-md {
  margin-left: 10px;
}

.m-r-xs-md {
  margin-right: 10px !important;
}

.m-b-xs-md {
  margin-bottom: 10px;
}

.m-xs-md {
  margin: 10px;
}

.text-heading {
  color: #313133;
  font-weight: 500;
}

.custom-icon-gray {
  color: #96989A;
  border-color: #96989A;
}

.custom-icon-gray:hover {
  color: #00B387;
  border-color: #00B387;
}

.text-skill-heading {
  color: #58666e;
}

.text-skill-description {
  color: #373435;
}

.b-hover-sea-green {
  color: #989898;
  background-color: white;
  border: 1px solid #989898;
}

.b-hover-sea-green:hover {
  color: #00B387;
  background-color: white !important;
  border: 1px solid #00B387;
}

.b-sea-green {
  color: #00B387;
  border: 1px solid #00B387;
}

.btn-sea-green {
  color: white;
  background-color: #00B387;
}

.btn-sea-green:hover {
  background-color: #069974;
  color: white;
}

.i-checks-sea-green input:checked + i:before {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #00B387 !important;
}

.modal-backdrop {
  background-color: white;
}

.modal-backdrop.in {
  opacity: 0.95 !important;
  filter: alpha(opacity=80);
}

.b-a {
  border-width: 1px;
}

.table-cell {
  display: table-cell;
}

.right-dropdown-menu {
  right: 0;
  left: initial;
  min-width: 160px;
}

.anchor-search:hover {
  color: #00B387;
}

.anchor-selected {
  color: #00B387;
}

.back-button-shipment {
  bottom: 32px;
  right: 28px;
  position: fixed;
}

.iti-flag {background-image: url("/assets/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti-flag {background-image: url("/assets/flags@2x.png");}
}
