div.m-t-xl.no-margin
  .hbox
    .wrapper-md.bg-white-only
      div
        .h1.font-thin.h3
          | Rewards
      hr.no-margin-bottom
      h4.text-center It’s never a dull moment with Shoppre. We believe in the idea of return gifts, which is why you always get to take back a little extra, every time you shop with Shoppre.
      .row
        .text-center.user-category
          h2.font-bold YOU ARE A
            span.left-padding-5 BRONZE SHIPPER
          p Earn 1000 points to level up and become a Silver Shippr
      .row.text-center.m-t-lg
        .col-md-2.col-md-offset-5.text-center.loyalty-points
          h2.font-bold 0/1000
        .clearfix
        img.loyalty-image(src='assets/images/loyatlypoints.png')
      .row.text-center.m-t-lg
        .col-md-2
        .col-md-2.text-center.loyalty-types
          h3 FREE
          p loyalty points to every Shoppre member
        .col-md-1
        .col-md-2.text-center.loyalty-types
          h3 REDEEM
          p your points for future shipments
        .col-md-1
        .col-md-2.text-center.loyalty-types
          h3 SO EASY
          p Use the credit for your  future  Shoppre shipments
      .row
        .col-md-12.howto-earn
          h3.text-u-c.font-bold HOW TO EARN SHOPPRE LOYALTY POINTS?
          h4.m-t-xs  Earn Shoppre Loyalty Points and get real Cash Discounts for your shipments! Higher level Shopprees have surprise benefits!
          ul.m-t-md
            li
              h4.font-bold.m-t-xs.m-b-xs SHIPPING REWARDS
              p.no-margin  Earn Shoppre Loyalty Points whenever you ship a package
              p  Get rewarded each time you ship a package. A Bronze Shippr earns loyalty points worth 5% of the shipment value. As you level up, you earn points faster!
            li.m-t-md
              h4.font-bold.m-t-xs.m-b-xs SHOPPING REWARDS
              p.no-margin
              | Shop from any of our
              a.left-padding-5.right-padding-5.font-bold(href='') Featured Sellers
              |and earn 50 loyalty points for every shipment.
            li.m-t-md
              h4.font-bold.m-t-xs.m-b-xs REFER A FRIEND
              p.no-margin
                a.left-padding-5.right-padding-5.font-bold(href='') Refer
                | a friend to Shoppre and earn 200 loyalty points whenever he joins our family and makes his first shipment.
            li.m-t-md
              h4.font-bold.m-t-xs.m-b-xs PARTICIPATION REWARDS
              p.no-margin  Participate in our social media surveys and earn anything up to 500 loyalty points! You shall be notified via e-mail so that you don’t miss out on a single point!

      .row
        .col-md-12.pointsto-cash
          h3.text-u-c.font-bold TURN YOUR POINTS INTO CASH!
          h4.m-t-xs For every 1,000 Shoppre Loyalty Points you earn, a credit of INR 100 will automatically be applied to your next shipment.
          h4.m-t-xs No limit on the number of loyalty points you can earn so start shopping and shipping with Shoppre!
            img(src='assets/images/loyalty.png')



