.modal-header
  .modal-title
    .h3.font-bold.text-info FAQ - Address
      .close(ng-click='$ctrl.cancel()') ×
.modal-body(style='margin-top: -5px')
    h9.f-s-16.f-c-d-greay.f-w-4
      | What is this address?
      p.f-s-16.f-c-l-gray.f-w-4
        | This is your Indian Shipping Address, which you can use as a delivery address to shop from ANY Indian online Store.
      h9.f-s-16.f-c-d-greay.f-w-4
        | Why do I need this address?
        p.f-s-16.f-c-l-gray.f-w-4
          | This is needed when you want to shop from Indian Stores & get it shipped to your doorstep abroad(outside India). Most Online Indian stores accept only Indian Addresses for delivering their goods. In such cases you can use this address with the unique locker number as your delivery address.
        h9.f-s-16.f-c-d-greay.f-w-4
          | Ok, So I use this address as the delivery address in a shopping site. What next?
          p.f-s-16.f-c-l-gray.f-w-4
            | Great. Now your items come to our facility in your name and locker number. We will store it in your locker FREE of cost for 20 days, within which you can purchase from other stores as well. Keep accumulating things in your locker and finally when you tell us to ship, we will put them all in 1 box and ship it to your doorstep. This gives you a saving of 60-80% on shipping.
          h9.f-s-16.f-c-d-greay.f-w-4 You told me I would get a unique locker number. I don’t see it. Where is it?
          p.f-s-16.f-c-l-gray.f-w-4
            | You can see the locker number right on top of the address. It starts with “SHPR” followed by a unique 6 digit number :)
          h9.f-s-16.f-c-d-greay.f-w-4
            | If this is my Indian shipping Address, then where do I enter my destination address?
            p.f-s-16.f-c-l-gray.f-w-4
              | You can go to:
              a(href='https://myaccount.shoppre.com/address') https://myaccount.shoppre.com/address
              |  and add your address here.

