.hbox.hbox-auto-xs.hbox-auto-sm.bg-white-only
  form.form-horizontal.wrapper-md( name="searchCandidateForm" ng-submit='$ctrl.emailCandidate()')
    .row
      // Form Block
      .col-md-7.col-lg-10.col-lg-10(style="margin:auto;float:inherit")
        // Form Items
        .streach-text.pull-right.m-r-xs(style="cursor:pointer;" ng-click="$ctrl.cancel()") X
        .row.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-6.h-center
            .h4.text-info(style='font-weight:500;margin-left:10px;') To Candidate
        .line.bg-light(style='height:1px;')
        .row.m-t-md.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-6.h-center
            label.col-xs-12.input-group
              | Name
              input.form.form-control(type='text' placeholder='' ng-model='$ctrl.email.name' required )
        .row.m-t-xs.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-6
            label.col-xs-12.input-group
              | Reply-to Email
              input.form.form-control(type='email' placeholder='' ng-model='$ctrl.email.replyTo' required)
        .row.m-t-xs.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-6
            label.col-xs-12.input-group
              | To
              input.form.form-control(type='email' placeholder='' ng-model='$ctrl.email.to' required)
        .row.m-t-xs.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-6
            label.col-xs-12.input-group
              | Subject
              input.form.form-control(type='text' placeholder='' ng-model='$ctrl.email.subject' autofocus required)
        .row.m-t-xs.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-12
            label.col-xs-12.input-group
              | Message
              //.col-xs-12.no-padder.m-l-xs.m-t-xs: label.i-checks.small-check
                input(type='checkbox' ng-model="$ctrl.email.add_salutation")
                i.m-r-none.pull-left
                .h6.pull-left Add Personalized Salutation
              .h6 Dear Candidate, (Candidate will be replaced by candidates actual name)
              textArea.m-t-xs.form.form-control(type='text'
                placeholder=''
                ng-model='$ctrl.email.message'
                style="resize:none;min-height:80px" required)
        .row.m-t-xs.flex.centerFlex
          .col-md-6.col-sm-6.col-xs-6
            .col-md-12.col-sm-12.col-xs-12.no-padder(style="background:#EBECEE;")
              label.btn.btn-default.pull-left
                .i-checks.i-checks-sm.pull-left
                  input.form-control(type="file" ng-model='$ctrl.email.attachments' base-sixty-four-input maxsize="10000" name='file')
                  input(type='checkbox' ng-checked="$ctrl.email.attachments")
                  i.m-r-none
                .pull-left Choose File
              .m-l-xs.m-t-xs.pull-left {{$ctrl.email.attachments.filename}}
        .row.text-center.m-t-lg
          .col-md-12.col-xs-12
            button.btn.btn-info(type='submit' style='padding-top:2px;padding-bottom:2px;')
              | Send
    .col-md-8.text-danger.font-bold(ng-bind="Profile.errorMessage.data.message")
    .clearfix
