.col-md-12.col-xs-12
  .col-md-12.col-xs-12.no-padder
    .col-md-12.col-xs-12
      h1.f-s-22.f-c-d-greay Create Shipment Request
      p.f-s-16.f-c-d-greay
        i.fas.fa-home
        span.f-c-l-gray &nbsp;&nbsp;/ Mylocker /
        |  &nbsp; Create Ship Request
    .col-md-12
      .longblock.no-margin
        h3
          .container
            center
              img(src='/assets/images/success.png', alt='')
              p.text-info Thank you for Creating your Ship Request
        h4  Hello There! :)
        br
        h4.justify-content-around
          | We are excited to start preparing your parcel!
          br
          | Kindly note that you can no longer change the selection of your packages, Shipping Options and Delivery Address.
          br
          | Shoppre might take up to a maximum period of 24 Hours to pack your items, weigh your parcel and update your shipment totals.
          | We usually try to get back to you with your Final Shipment Charges as soon as possible, unless during peak hours or some of your parcels
          | which are put on hold due to its special handling requirement, and hence we might take additional time to notify you and get your approval in certain cases.
        br
        h4.f-c-d-greay You shall be notified via email when your packages are ready to be shipped from the Shoppre facility. You can now view your shipment in the
          a(ui-sref='shipRequests.index' style="color: #ff6c00;")&nbsp; Queue
          | .
        br
        h4
          | P.S. Cancel your shipment right now if you wish to do so, before we start processing your shipment.
        h4.m-t(style="color: #ff6c00;")
          | Please remember that once your package is ready to be shipped and your final cost is updated, KINDLY SUBMIT YOUR PAYMENT
          br
          | WITHIN 7 DAYS. From the 8th day, your parcel will start accumulating Storage fees of INR 100/day which you can view in your Shoppre wallet.
        .text-center.hidden-xs
          a.btn.btn-success(ui-sref='shipRequests.index', style='border-radius: 5px;margin-top: 15px;')&nbsp; I WILL BE AWAITING YOUR NOTIFICATION EMAIL TO SUBMIT MY PAYMENT
        a.text-success.hidden-md.hidden-lg.hidden-sm(ui-sref='shipRequests.index', style='border-radius: 5px;margin-top: 15px;')
          u I WILL BE AWAITING YOUR NOTIFICATION EMAIL TO SUBMIT MY PAYMENT
        br
      .f-c-d-greay.clearfix.border
        br
        .col-md-3
          h4.f-c-d-greay Shipment Details:
          h5 # {{$ctrl.shipment.order_code}}
        .col-md-9
          h4.f-c-d-greay Shipping Address:
          h5 {{$ctrl.shipment.customer_name}}, {{$ctrl.shipment.address}}, {{$ctrl.shipment.phone}}
          br
    .clearfix
