<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body
  style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; height: 100% !important; line-height: 1.6em; -webkit-font-smoothing: antialiased; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #f6f6f6;">
<table width="100%">
  <tbody>
  <tr>
    <td align="center" valign="middle">
      <h1>Hello {{name}}</h1>

      <p style="font-size:23px;font-weight:normal;line-height:30px;padding-bottom:40px;margin:0">You recently requested to reset your password. Please click below button.</p>

      <table width="335">
        <tbody><tr>
          <td align="center" valign="middle" bgcolor="#00c9c9" style="word-break:break-word;border-collapse:collapse!important;border-radius:35px;padding:20px 25px">
            <a target="_blank" href="{{link}}" style="color:#fff!important;text-decoration:none;display:block;font-size:23px;font-style:italic">Reset Password</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>
