div.bg-white-only

  directive-header(viewdata="JobView" page="{jobView:true}" buttons="{view:true,paymentDetails:true,downloadJD:true,interviews:false,references:true,buckets:true,share:true,list:true,upload:true,viewApplicants:false,highlight:'upload'}" App="App")

  .hbox.hbox-auto-xs.hbox-auto-sm
    .m-t-lg
      .col.clearfix.wrapper-md.col-md-10.col-sm-10.col-xs-10(style="height: 84vh;")
        .hbox(style='position: relative; height: 100%; width: 100%; top: 0; overflow: hidden;')
          iframe.h-full.b-a.b-light.w-full(ng-src="{{JobView.trustSrc(JobView.sampleCvUrl)}}")
      job-qna(ng-if='App.isQNATesting()')
