#light-box-fade
  #light-box
    a#boxclose.boxclose(ng-click='lightboxClose();')
    video#lightBoxVideo(width='1000', controls='' preload='metadata' height='500')
      source(ng-src='{{data}}', type='video/{{type}}' ng-repeat='type in ["mp4", "webm"]')
      | Your browser does not support this video format.
.pos-rlt.text-center(style='width:200px')
  .w-full(style='background: #ebf0f1;')
    video(width='200', no-controls='' preload='auto' height='100')
      source(src='{{data}}', type='video/{{type}}' ng-repeat='type in ["mp4", "webm"]')
    a.pos-abt.lightboxOpenButton(ng-click='lightboxOpen();' style='top: 40px;left: 80px;')
      i.fa.fa-2x.fa-play-circle.text-white(title='Play Video')
