.hbox.accounts
  .col.bg-white-only.w-md.b-r(ng-hide="App.fullPage === true")
    ul.nav
      li.n-hv(style='padding-bottom: 5px;')
        a.no-hover.b-b.b-light.lter.auto(href='')
          span.pull-right
          span.font-bold(translate='aside.nav.DASHBOARD') My Account
        ul.nav.dk
          li(ui-sref-active='active')
            a(ui-sref='accounts.profile')
              span Profile Details
          li(ui-sref-active='active' ng-if='App.userinfo.admin_flag')
            a(ui-sref='accounts.company')
              span Company Details
          li(ui-sref-active='active')
            a(ui-sref='accounts.preferences')
              span Preferences
          li(ui-sref-active='active' ng-if='App.userinfo.admin_flag')
            a(ui-sref='accounts.billing')
              span Billing Details
          li(ui-sref-active='active' ng-if='App.userinfo.admin_flag')
            a(ui-sref='accounts.transaction')
              span Transaction PIN
          li(ui-sref-active='active')
            a(ui-sref='accounts.badge')
              span Badge
              b.badge.badge-sm.bg-danger.rounded.text-u-c.m-l-sm New
      li.hide(ui-sref-active='active')
        a(ui-sref='settings')
          i.glyphicon.glyphicon-calendar.icon.text-info-dker
          span.font-bold Notifications
  .col(ui-view="")


