.hbox.accounts
  .col.bg-white-only.w-md.b-r(ng-hide="App.fullPage === true")
    ul.nav
      li.n-hv(style='padding-bottom: 5px;')
        a.no-hover.b-b.b-light.lter.auto(href='')
          span.pull-right
          span.font-bold(translate='aside.nav.DASHBOARD') Preferences
        ul.nav.dk
          li(ui-sref-active='active')
            a(ui-sref='users.profile')
              span Contact Information
          li(ui-sref-active='active')
            a(ui-sref='users.address-index')
              span Address Book
          li(ui-sref-active='active')
            a(ui-sref='users.preferences')
              span Shipping Preferences
          li(ui-sref-active='active')
            a(ui-sref='users.documents')
              span Account Documents
          li(ui-sref-active='active')
            a(ui-sref='users.passwordChange')
              span Change Password
      li.hide(ui-sref-active='active')
        a(ui-sref='settings')
          i.glyphicon.glyphicon-calendar.icon.text-info-dker
          span.font-bold Notifications
  .col(ui-view="")


